<div class="animated fadeInRight">
  <div>
    <div class="ibox-title">
      <h3>Arhivirani pravci</h3>
      <form class="form-horizontal ng-pristine ng-valid myForm proizvodiPretraga">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Pretraga arhiviranih pravaca" ng-model="search.pravac">
          <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
        </div>
      </form>
    </div>
    <div class="ibox-content sviProizvodi">
      <div class="table-responsive">
        <table class="table table-bordered tables_ui" style="font-weight: bold;font-size: 15px;">
          <thead>
          <tr>
            <th>R. Br.</th>
            <th>Pravac</th>
            <th>Datum</th>
            <th><i class="fa fa-cog"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="s in shipments | filter: search">
            <td>{{$index+1}}.</td>
            <td class="firstCapitalLetter">{{s.pravac}}</td>
            <td>{{s.datum_slanja | date: "dd.MM.yyyy."}}</td>
            <td style="white-space: nowrap !important;">
              <button class="btn btn-danger" ng-click="unarchive(s.id)">
                Vrati u aktivne
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
