<div class="ibox float-e-margins animated fadeInRight">
  <div class="ibox-title">
    <h3>Ažuriraj kupca</h3>
  </div>
  <div class="ibox-content">
    <form ng-submit="azurirajKupca()" class="form-horizontal ng-pristine ng-valid myForm">
      <div class="row">
        <div class="form-group col-md-6">
          <label>Naziv kupca</label>
          <input type="text" ng-model="kupac.ime" placeholder="Naziv kupca">
        </div>
        <div class="form-group col-md-6">
          <label>Adresa</label>
          <input type="text" ng-model="kupac.adresa" placeholder="Adresa">
        </div>
        <div ng-repeat="t in brTelefona">
          <div class="form-group col-md-6">
            <label>Broj telefona {{$index+1}}</label>
            <input type="text" ng-model="t.telefon" placeholder="Broj telefona {{$index+1}}">
          </div>
          <div class="form-group  col-md-6">
            <label>Opis {{$index+1}}</label>
            <input type="text" ng-model="t.opis" placeholder="Opis {{$index+1}}">
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Fax</label>
          <input type="text" ng-model="kupac.fax" placeholder="Fax">
        </div>
        <div class="form-group col-md-6">
          <label>E-mail</label>
          <input type="text" ng-model="kupac.email" placeholder="E-mail">
        </div>

        <div class="form-group col-md-6">
          <label>Web adresa</label>
          <input type="text" ng-model="kupac.web_adresa" placeholder="Web adresa">
        </div>

        <div class="form-group col-md-6">
          <label>Mesto</label>
          <input type="text" ng-model="kupac.mesto" placeholder="Mesto">
        </div>

        <div class="form-group col-md-4">
          <label>Poštanski broj</label>
          <input type="text" ng-model="kupac.postanski_broj" placeholder="Poštanski broj">
        </div>

        <div class="form-group col-md-4">
          <label>PIB</label>
          <input type="text" ng-model="kupac.pib" placeholder="PIB">
        </div>
          <div class="form-group col-md-4">
          <label>JIB</label>
          <input type="text" ng-model="kupac.jib" placeholder="JIB">
        </div>


        <div class="form-group col-md-4" ng-repeat="r in racun">
          <label>Broj računa {{$index+1}}</label>
          <input type="text" ng-model="r.account" placeholder="Broj računa {{$index+1}}"
                 style="margin-bottom: 10px;">
          <label>Banka {{$index+1}}</label>
          <input type="text" ng-model="r.banka" placeholder="Banka {{$index+1}}">
        </div>

      </div>
      <div class="row">

        <!-- Kontakt osoba /////////////////////////////-->
        <div class="form-group col-md-3 kontaktKupac" ng-repeat="k in kontakt">
          <div style="margin-bottom: 10px;">
            <label>Kontakt osoba {{$index+1}} - <a style="padding: 0 10px;" class="btn btn-warning"
                                                   ng-click="deleteKontakt($index, k.id)"><i
              class="fa fa-close"></i></a>
              <!--<button class="btn btn-danger" ng-click="deleteKontakt($index)"><i class="fa fa-trash"></i>-->
              <!--</button>-->
            </label>
            <div class="input-group" style="width: 100%">
              <input placeholder="Kontakt osoba" ng-model="k.ime" type="text"
                     class="form-control">
            </div>
            <div class="input-group" style="width: 100%">
              <input placeholder="Funkcija" ng-model="k.funkcija" type="text" class="form-control">
            </div>
            <div class="input-group" style="width: 100%">
              <input placeholder="Telefon" ng-model="k.telefon" type="text" class="form-control">
            </div>
            <div class="input-group" style="width: 100%">
              <input placeholder="E-mail" ng-model="k.email" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="addBtnDiv">
          <a class="btn btn-danger" ng-click="addKontakt()">Kontakt osoba +1</a>
        </div>

        <!-- Mesto isporuke /////////////////////////////-->
        <div class="form-group col-md-12">
          <div ng-repeat="m in mesto" style="margin-bottom: 10px;">
            <div class="row">
              <div class="col-md-4">
                <label>Adresa isporuke {{$index+1}}
                  <!--<button class="btn btn-danger" ng-click="deleteMesto($index)"><i-->
                  <!--class="fa fa-trash"></i>-->
                  <!--</button>-->
                </label>
                <div class="input-group" style="width: 100%">
                  <input placeholder="Adresa isporuke" ng-model="m.adresa" type="text"
                         class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <label>Mesto isporuke{{$index+1}}</label>
                <div class="input-group" style="width: 100%">
                  <input placeholder="Mesto isporuke" ng-model="m.mesto" type="text"
                         class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <a style="position: relative;top: 22px;" class="btn btn-warning"
                   ng-click="deleteMesto($index, m.id)"><i
                  class="fa fa-close"></i></a>
              </div>
            </div>
            <hr>
          </div>
          <a class="btn btn-danger" ng-click="addMesto()">Mesto isporuke +1</a>
        </div>
      </div>
      <div class="form-group" style="margin-top: 50px;">
        <div>
          <button class="btn btn-primary" type="submit">Ažuriraj kupca</button>
          <button class="btn btn-primary" type="submit" ng-click="cancel()">Odustani</button>
        </div>
      </div>
    </form>
  </div>
</div>
