<div class="loading">
  <div class="load">Loading...</div>
</div>

<div class="animated fadeInRight">
  <div class="ibox-title">
    <h1>Ažuriranje naloga</h1>
  </div>
  <div class="ibox-content nalog">
    <form ng-submit="azurirajNalog()" class="form-horizontal ng-pristine ng-valid myForm">
      <div id="proizvod" class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Proizvod</label>
            <input type="text" readonly tabindex="-1" ng-model="nalog.proizvod">
          </div>
          <div class="col-md-6">
            <label>Broj Komada</label>
            <input type="number" ng-model="nalog.kolicina" placeholder="Broj komada">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label>Kupac</label>
          <!--<select name="" ng-model="nalog.kupac">-->
          <!--<option value="">-&#45;&#45; Kupac -&#45;&#45;</option>-->
          <!--<option ng-repeat="k in kupci" value="{{k.id}}">{{k.ime}}</option>-->
          <!--</select>-->

          <!--<select ui-select2="kupci" ng-model="nalog.kupac" name="kupci" required="" id="kup">-->
            <!--<option ng-repeat="k in kupci" value="{{k.id}}">{{k.ime}}</option>-->
          <!--</select>-->

          <input type="text" readonly tabindex="-1" ng-model="nalog.client">

          <!--<input list="browsers" ng-model="nalog.kupac" placeholder="Kupac">-->
          <!--<datalist id="browsers">-->
          <!--<option value="">-&#45;&#45; Kupac -&#45;&#45;</option>-->
          <!--<option ng-repeat="k in kupci | filter: search" data-value="{{k.id}}">{{k.ime}}</option>-->
          <!--</datalist>-->
        </div>
        <div class="form-group col-xs-6">
          <label><span style="font-weight: 200">Mesto Isporuke</span> <!-- - {{nalog.adresa_isporuke}}--></label>
          <select name="" ng-model="adresaIsporuke">
            <option ng-selected="mestoIsporuke.mesto_isporuke.length != 1" value="">-- Mesto isporuke --</option>
            <option ng-repeat="mi in mestoIsporuke.mesto_isporuke" value="{{mi}}"
                   >{{mi.adresa}}, {{mi.mesto}}
            </option>
          </select>
        </div>
      </div>
      <div>
        <div ng-if="nalog.parts.length != 0"
             style="border: 2px solid black;padding: 20px;margin-bottom: 30px;margin-top: 30px;">
          <h2 style="margin-bottom: 20px">Delovi proizvoda</h2>
          <div ng-repeat="d in deo" ng-if="d.part_naziv != ''" style="margin-bottom: 10px;">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-6">
                <label>{{d.part_naziv}}</label>
                <div class="input-group" style="width: 100%">
                  <input tabindex="-1" readonly ng-model="d.part_naziv" placeholder="{{d.part_naziv}}"
                         value="{{d}}" type="text"
                         class="form-control">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <!--<label><span style="font-weight: 100">Trenutni materijal</span> - {{d.material}}</label>-->
                <!--<hr>-->
                <div class="input-group" style="width: 100%">
                  <label for="" style="display: inline-block">Materijal - {{d.material}}</label>
                  <!--<p style="margin-bottom: 3px;">Izabrani materijal - {{d.material}}</p>-->

                  <!--<select  ng-model="d.material">-->
                  <!--<option ng-repeat="m in materials" value="{{m.naziv_materijala}}">{{m.naziv_materijala}}</option>-->
                  <!--</select>-->
                  <input list="materijali"
                  name="materijali"
                  placeholder="Materijali"
                  required
                  class="form-control kupci"
                  id="izabraniMaterijal"
                  ng-model="d.material"/>
                  <datalist id="materijali">
                  <option ng-repeat="m in materials" data-id="{{m}}" value="{{m.naziv_materijala}}">
                  </datalist>

                  <!--<p style="margin-bottom: 3px;">Izabrani materijal - {{d.material}}</p>-->
                  <!--<select ui-select2="materijali" ng-model="d.material">-->
                    <!--<option ng-repeat="m in materials" value="{{m.naziv_materijala}}">{{m.naziv_materijala}}</option>-->
                  <!--</select>-->


                  <!--<p ng-if="nalogForma.materijali.$error.required && (!nalogForma.materijali.$pristine || nalogForma.$submitted)">-->
                  <!--Molimo izaberite materijal.-->
                  <!--</p>-->
                </div>
              </div>
            </div>
            <hr>
          </div>

        </div>
      </div>

      <!--<div class="row">-->
      <!--<div class="form-group col-md-12">-->
      <!--<label>Kupac</label>-->
      <!--<select ng-model="nalog.kupac">-->
      <!--<option value="">-&#45;&#45; Kupac -&#45;&#45;</option>-->
      <!--<option ng-repeat="k in kupci" value="{{k.id}}">{{k.ime}}</option>-->
      <!--</select>-->
      <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="form-group col-md-12">
          <label>Ukrasni štep</label>
          <div class="input-group" style="width: 100%">
            <input type="text" ng-model="nalog.ukrasni_step" placeholder="Ukrasni štep">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Napomena</label>
        <textarea name="" cols="30" rows="10" ng-model="nalog.napomena_javna" placeholder="Napomena"></textarea>
      </div>
      <div class="form-group">
        <label>Napomena 2</label>
        <textarea name="" cols="30" rows="4" placeholder="Napomena 2"
                  ng-model="nalog.napomena_privatna"></textarea>
      </div>
      <div class="form-group">
        <div style="display: inline-block">
          <button class="btn btn-primary" type="submit">Ažuriraj nalog</button>
        </div>
        <div style="display: inline-block">
          <button class="btn btn-primary" ng-click="cancel()">Odustani</button>
        </div>
      </div>
    </form>
  </div>
</div>
