
<div class="animated fadeInRight">
    <div class="ibox-title">
        <h3>Dodaj deo proizvoda</h3>
    </div>
    <div class="ibox-content">
        <form class="form-horizontal ng-pristine ng-valid myForm">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label>Naziv dela proizvoda</label>
                    <input type="text" placeholder="Naziv dela proizvoda">
                </div>
                <div class="form-group col-xs-6">
                    <label>Deo proizvoda</label>
                    <select id="deoProizvoda">
                        <option value="1">Alfa Romeo</option>
                        <option value="2">Audi</option>
                        <option value="3">BMW</option>
                        <option value="4">Citroen</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary" type="submit">Dodaj deo proizvoda</button>
                </div>
            </div>
        </form>
    </div>
</div>