<div class="ibox-content">
  <form novalidate name="proizvodForm"
        class="form-horizontal ng-pristine ng-valid myForm" ng-submit="dodajKategoriju()">
    <div class="form-group" ng-submit="dodajKategoriju()">
      <input type="text" placeholder="Naziv kategorije" ng-model="kategorija.naziv_kategorije">
    </div>
    <div>
      <button class="btn btn-primary" type="submit" ng-if="post">Dodaj kategoriju</button>
      <button class="btn btn-primary" type="submit" ng-if="put">Ažuriraj kategoriju</button>
      <button class="btn btn-primary" type="submit" ng-if="put" ng-click="cancel()">Odustani</button>
    </div>
  </form>
</div>
<div class="ibox-title">
  <h3>Lista proizvoda</h3>
  <form class="form-horizontal ng-pristine ng-valid myForm proizvodiPretraga">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Pretraga proizvoda" ng-model="search.naziv_kategorije">
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>
</div>
<div class="ibox-content sviProizvodi">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Naziv kategorije</th>
        <th><i class="fa fa-cog"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="c in categories | filter: search">
        <td>{{$index + 1}}</td>
        <td>{{c.naziv_kategorije}}</td>
        <td>
          <button class="btn btn-primary" ng-click="edit(c.id)">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger" ng-click="delete(c.id)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
