<div class="ibox float-e-margins animated fadeInRight">
  <div class="ibox-title">
    <h3>Dodaj proizvod</h3>
  </div>
  <div class="ibox-content">
    <form novalidate ng-submit="dodajProizvod(proizvodForm.$valid)" name="proizvodForm"
          class="form-horizontal ng-pristine ng-valid myForm">
      <div class="row">
        <div class="form-group col-xs-2">
          <div ng-if="proizvod.image != null && naslovna == ''" class="imagePreview2"
               style="background: url('{{url}}storage/thumbnails/{{proizvod.id}}/290x150_{{proizvod.image}}')"></div>

          <div ng-if="naslovna != ''" class="imagePreview2"
               style="background: url('data:image/jpeg;base64,{{naslovna.base64}}')"></div>
          <label class="fileContainer">
            Slika proizvoda <i style="margin-left: 5px;" class="fa fa-picture-o" aria-hidden="true"></i>
            <input type="file" ng-model="naslovnaSlika" name="slikeD" base-sixty-four-input/>
          </label>
        </div>
        <div class="form-group col-xs-2"
             ng-class="{ 'errorForm' : proizvodForm.naziv.$invalid && (!proizvodForm.naziv.$pristine || proizvodForm.$submitted)}">
          <label>Naziv proizvoda</label>
          <input type="text" name="naziv" required ng-model="proizvod.naziv_proizvoda" placeholder="Naziv proizvoda">
          <p ng-if="proizvodForm.naziv.$error.required && (!proizvodForm.naziv.$pristine || proizvodForm.$submitted)">
            Molimo unesite naziv proizvoda.</p>
        </div>
        <div class="form-group col-xs-2"
             ng-class="{ 'errorForm' : proizvodForm.cena.$invalid && (!proizvodForm.cena.$pristine || proizvodForm.$submitted)}">
          <label>Cena proizvoda</label>
          <div class="input-group">
            <input type="text" name="cena" required ng-model="proizvod.cena" placeholder="Cena proizvoda">
            <span class="input-group-addon">&euro;</span>
          </div>
          <p ng-if="proizvodForm.cena.$error.required && (!proizvodForm.cena.$pristine || proizvodForm.$submitted)">
            Molimo unesite cenu proizvoda.
          </p>
        </div>
        <div class="form-group col-xs-2">
          <label for="">Kategorija</label>
          <select name="" id="" ng-model="proizvod.category_id">
            <option value="{{c.id}}" ng-repeat="c in categories">{{c.naziv_kategorije}}</option>
          </select>
        </div>
        <div class="form-group col-xs-2"
             ng-class="{ 'errorForm' : proizvodForm.brdelova.$invalid && (!proizvodForm.brdelova.$pristine || proizvodForm.$submitted)}">
          <label for="">Broj delova</label>
          <input type="text" name="brdelova" required ng-model="proizvod.broj_delova" placeholder="Broj delova">
          <p
            ng-if="proizvodForm.brdelova.$error.required && (!proizvodForm.brdelova.$pristine || proizvodForm.$submitted)">
            Molimo unesite broj delova.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2"
             ng-class="{ 'errorForm' : proizvodForm.zapremina.$invalid && (!proizvodForm.zapremina.$pristine || proizvodForm.$submitted)}">
          <label>Zapremina proizvoda</label>
          <div class="input-group">
            <input type="text" required name="zapremina" ng-model="proizvod.zapremina"
                   placeholder="Zapremina proizvoda">
            <span class="input-group-addon">m<sup>3</sup></span>
          </div>
          <p
            ng-if="proizvodForm.zapremina.$error.required && (!proizvodForm.zapremina.$pristine || proizvodForm.$submitted)">
            Molimo unesite zapreminu proizvoda.</p>
        </div>
        <div class="form-group col-md-2"
             ng-class="{ 'errorForm' : proizvodForm.krojenje.$invalid && (!proizvodForm.krojenje.$pristine || proizvodForm.$submitted)}">
          <label>Krojenje - vreme</label>
          <div class="input-group">
            <input type="text" name="krojenje" required ng-model="proizvod.krojenje_vreme"
                   placeholder="Krojenje - vreme">
            <span class="input-group-addon">min</span>
          </div>
          <p
            ng-if="proizvodForm.krojenje.$error.required && (!proizvodForm.krojenje.$pristine || proizvodForm.$submitted)">
            Molimo unesite vreme krojenja.</p>
        </div>
        <div class="form-group col-md-2"
             ng-class="{ 'errorForm' : proizvodForm.sivenje.$invalid && (!proizvodForm.sivenje.$pristine || proizvodForm.$submitted)}">
          <label>Šivenje - vreme</label>
          <div class="input-group">
            <input required name="sivenje" type="text" placeholder="Šivenje - vreme" ng-model="proizvod.sivenje_vreme">
            <span class="input-group-addon">min</span>
          </div>
          <p
            ng-if="proizvodForm.sivenje.$error.required && (!proizvodForm.sivenje.$pristine || proizvodForm.$submitted)">
            Molimo unesite vreme šivenja.</p>
        </div>
        <div class="form-group col-md-2"
             ng-class="{ 'errorForm' : proizvodForm.tapaciranje.$invalid && (!proizvodForm.tapaciranje.$pristine || proizvodForm.$submitted)}">
          <label>Tapaciranje - vreme</label>
          <div class="input-group">
            <input type="text" name="tapaciranje" required ng-model="proizvod.tapaciranje_vreme"
                   placeholder="Tapaciranje - vreme">
            <span class="input-group-addon">min</span>
          </div>
          <p
            ng-if="proizvodForm.tapaciranje.$error.required && (!proizvodForm.tapaciranje.$pristine || proizvodForm.$submitted)">
            Molimo unesite vreme tapaciranja.</p>
        </div>
        <div class="form-group col-md-2"
             ng-class="{ 'errorForm' : proizvodForm.priprema.$invalid && (!proizvodForm.priprema.$pristine || proizvodForm.$submitted)}">
          <label>Priprema - vreme</label>
          <div class="input-group">
            <input type="text" name="priprema" required ng-model="proizvod.priprema_vreme"
                   placeholder="Priprema - vreme">
            <span class="input-group-addon">min</span>
          </div>
          <p
            ng-if="proizvodForm.priprema.$error.required && (!proizvodForm.priprema.$pristine || proizvodForm.$submitted)">
            Molimo unesite vreme pripreme.</p>
        </div>
      </div>
      <!-- Mesto isporuke /////////////////////////////-->
      <div class="deoProizvoda">
        <div class="row" ng-repeat="dp in deo_proizvoda">
          <div class="form-group col-md-3"
               ng-class="{ 'errorForm' : proizvodForm.deoNaziv.$invalid && (!proizvodForm.deoNaziv.$pristine || proizvodForm.$submitted)}">
            <label>Deo proizvoda</label>
            <div class="input-group" style="width: 100%">
              <input ng-model="dp.naziv" required name="deoNaziv" placeholder="Naziv" type="text" class="form-control">
              <!--<span class="input-group-btn">-->
              <!--<button type="button" id="deoProizvoda" class="btn btn-primary">+1</button>-->
              <!--</span>-->
            </div>
            <p
              ng-if="proizvodForm.deoNaziv.$error.required && (!proizvodForm.deoNaziv.$pristine || proizvodForm.$submitted)">
              Molimo unesite naziv dela proizvoda.</p>
          </div>
          <div class="form-group col-md-3">
            <label>Skraćeni naziv</label>
            <div class="input-group" style="width: 100%">
              <input ng-model="dp.skraceni_naziv" placeholder="Skraćeni naziv" type="text" class="form-control">
              <!--<span class="input-group-btn">-->
              <!--<button type="button" id="deoProizvoda" class="btn btn-primary">+1</button>-->
              <!--</span>-->
            </div>
          </div>
          <div class="form-group col-md-3"
               ng-class="{ 'errorForm' : proizvodForm.povrsina.$invalid && (!proizvodForm.povrsina.$pristine || proizvodForm.$submitted)}">
            <label>Povrsina dela proizvoda</label>
            <div class="input-group">
              <input ng-model="dp.povrsina" required name="povrsina" placeholder="Površina" type="number"
                     class="form-control">
              <span class="input-group-addon">m</span>
            </div>
            <p
              ng-if="proizvodForm.povrsina.$error.required && (!proizvodForm.povrsina.$pristine || proizvodForm.$submitted)">
              Molimo unesite površinu dela proizvoda.
            </p>
          </div>
          <div class="col-md-3">
            <a ng-click="izbrisiDeo($index, dp)" style="position: relative;top: 22px;" class="btn btn-warning"><i
              class="fa fa-close" style="color: white;"></i></a>
          </div>
        </div>
        <span class="input-group-btn">
            <button type="button" ng-click="addPartInput()" class="btn btn-danger">Dodaj deo proizvoda +1</button>
        </span>
      </div>
      <div class="form-group" style="margin-top: 50px;">
        <div class="form-group">
          <div ng-if="put">
            <div class="imagePreview" ng-repeat="i in proizvod.images"
                 style="background: url('{{url}}storage/thumbnails/{{proizvod.id}}/290x150_{{i.filename}}')">
              <div class="filter" ng-click="deleteImage($index, i.id)">
                <i class="fa fa-trash"></i>
              </div>
            </div>
          </div>

          <div class="imagePreview" ng-repeat="i in images"
               style="background: url('data:image/jpeg;base64,{{i.base64}}')">
          </div>

          <label class="addImageDiv">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <input ng-model="slikeProizvoda" name="slike" type="file"
                   base-sixty-four-input/>
          </label>

          <div style="margin-top: 20px;">
            <label class="control control--checkbox" style="padding-left: 40px;">Sajt prikaz
              <input type="checkbox" ng-model="proizvod.sajt_prikaz" checked="checked"/>
              <div class="control__indicator"></div>
            </label>

            <label class="control control--checkbox" style="padding-left: 40px;">Webshop prikaz
              <input type="checkbox" ng-model="proizvod.webshop_prikaz" checked="checked"/>
              <div class="control__indicator"></div>
            </label>

            <label class="control control--checkbox" style="padding-left: 40px;">Akcija
              <input type="checkbox" ng-model="korisnik.akcija" checked="checked"/>
              <div class="control__indicator"></div>
            </label>
          </div>
        </div>
        <div>
          <button class="btn btn-primary" type="submit" ng-if="post">Dodaj proizvod</button>
          <button class="btn btn-primary" type="submit" ng-if="put">Ažuriraj proizvod</button>
          <button class="btn btn-primary" type="submit" ng-if="put" ng-click="cancel()">Odustani</button>
        </div>
      </div>
    </form>
  </div>
  <div class="ibox-title">
    <h3>Lista proizvoda</h3>
    <form class="form-horizontal ng-pristine ng-valid myForm proizvodiPretraga">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Pretraga proizvoda" ng-model="search.naziv_proizvoda">
        <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
      </div>
    </form>
  </div>
  <div class="ibox-content sviProizvodi">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Naziv proizvoda</th>
          <th>Cena proizvoda</th>
          <th>Zapremina proizvoda</th>
          <th>Krojenje - vreme</th>
          <th>Šivenje - vreme</th>
          <th>Tapaciranje - vreme</th>
          <th>Priprema - vreme</th>
          <th><i class="fa fa-cog"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in items | filter: search">
          <td>{{$index+1}}</td>
          <td>{{i.naziv_proizvoda}}</td>
          <td>{{i.cena | currency:'':2}} &euro;</td>
          <td>{{i.zapremina}}m<sup>3</sup></td>
          <td>{{i.krojenje_vreme}} min</td>
          <td>{{i.sivenje_vreme}} min</td>
          <td>{{i.tapaciranje_vreme}} min</td>
          <td>{{i.priprema_vreme}} min</td>
          <td>
            <button class="btn btn-primary" ng-click="edit(i.id)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" ng-click="delete(i.id)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="loading">
  <div class="load">Loading...</div>
</div>

