<div class="ibox float-e-margins animated fadeInRight">
    <div class="ibox-title">
        <h3>Dodaj pravac</h3>
    </div>
    <div class="ibox-content">
        <form ng-submit="dodajPravac()" class="form-horizontal ng-pristine ng-valid myForm">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Lokacija</label>
                    <input type="text" ng-model="pravac.pravac" placeholder="Pravac - lokacija">
                </div>
                <div class="form-group col-xs-4">
                    <label>Vozilo</label>
                    <select name="" ng-model="pravac.vehicle_id" id="">
                        <option value="">--- Vozilo ---</option>
                        <option ng-repeat="v in vozila" ng-value="v.id" value="{{v.id}}">{{v.tip_vozila}}</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <label>Datum</label>
                    <input type="date" ng-model="pravac.datum_slanja">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary" type="submit" ng-if="post">Dodaj pravac</button>
                    <button class="btn btn-primary" type="submit" ng-if="put">Ažuriraj pravac</button>
                    <button class="btn btn-primary" type="submit" ng-if="put" ng-click="cancel()">Odustani</button>
                </div>
            </div>
        </form>
    </div>
    <div class="ibox-title">
        <h3>Lista pravaca</h3>
        <!--<div class="btnGroup">-->
          <!--<ul>-->
            <!--<li>-->
              <!--<button ng-class="{'btnGroupActive': svi}" ng-click="prikazPravaca('svi')"><i class="fa fa-truck"></i> Svi pravci</button>-->
            <!--</li>-->
            <!--<li>-->
              <!--<button ng-class="{'btnGroupActive': arhivirano}" ng-click="prikazPravaca('arhivirani')"><i class="fa fa-archive"></i> Arhivirani pravci</button>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
    </div>
    <div class="ibox-content sviProizvodi">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Pravac</th>
                    <th>Vozilo</th>
                    <th>Datum</th>
                    <th><i class="fa fa-cog"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in shipments">
                    <td>{{$index+1}}</td>
                    <td>{{p.pravac}}</td>
                    <td>{{p.vehicle.tip_vozila}}</td>
                    <td>{{p.datum_slanja | date: "dd.MM.yyyy."}} {{p.dan}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="edit(p.id)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger" ng-click="delete(p.id)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <button class="btn btn-warning" ng-click="archive(p.id)">
                          <i class="fa fa-archive"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
