<div class="ibox float-e-margins animated fadeInRight">
  <div class="ibox-title">
    <h3>Fakture</h3>
    <form class="form-horizontal ng-pristine ng-valid myForm fakture">
      <div class="input-group col-md-3">
        <input type="text" class="form-control" placeholder="Pretraga faktura po klijentu" ng-model="search">
        <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
      </div>
      <!--<div class="input-group col-md-3">-->
      <!--<select name="" id="" style="height: 34px;" ng-model="mesec">-->
      <!--<option value="">&#45;&#45; Pretraga po mesecu &#45;&#45;</option>-->
      <!--<option value="januar">Januar</option>-->
      <!--<option value="februar">Februar</option>-->
      <!--<option value="mart">Mart</option>-->
      <!--<option value="april">April</option>-->
      <!--<option value="maj">Maj</option>-->
      <!--<option value="jun">Jun</option>-->
      <!--<option value="jul">Jul</option>-->
      <!--<option value="avgust">Avgust</option>-->
      <!--<option value="septembar">Septembar</option>-->
      <!--<option value="oktobar">Oktobar</option>-->
      <!--<option value="novembar">Novembar</option>-->
      <!--<option value="decembar">Decembar</option>-->
      <!--</select>-->
      <!--<span class="input-group-btn">-->
      <!--<button type="button" class="btn btn-primary">-->
      <!--<i class="fa fa-calendar"></i>-->
      <!--</button>-->
      <!--</span>-->
      <!--</div>-->
      <div class="input-group col-md-3">
        <input date-range-picker class="form-control date-picker" id="datePicker" options="datePickerOptions"
               type="text" ng-model="datePicker"
               placeholder="Datum (od - do)"/>
        <span class="input-group-btn">
        <button type="button" class="btn btn-primary" style="cursor: pointer;" ng-click="removeDate()">
          <i class="fa fa-refresh"></i>
        </button>
      </span>
      </div>
      <div class="input-group col-md-3">
        <select name="" id="" ng-model="tipFakture.stopa_pdv">
          <option value="" ng-selected="!izvoznaChecked">-- Stopa PDV --</option>
          <option value="{{t.stopa_pdv}}" ng-repeat="t in tipFakture">{{t.stopa_pdv}}%</option>
        </select>
      </div>
      <div class="input-group col-md-3">
        <label class="control control--checkbox" style="position: relative;top: 15px;left: -5px;padding-left: 30px;">Izvozna faktura
          <input type="checkbox" ng-model="izvozna"/>
          <div class="control__indicator" style="top: 2px !important; left: 5px !important;"></div>
        </label>
      </div>
    </form>
    <!--<div class="form-horizontal  ng-pristine ng-valid myForm proizvodiPretraga">-->
    <!--<select name="" id="">-->
    <!--<option value="">&#45;&#45; Pretraga po mesecu &#45;&#45;</option>-->
    <!--<option value="januar">Januar</option>-->
    <!--<option value="februar">Februar</option>-->
    <!--<option value="mart">Mart</option>-->
    <!--<option value="april">April</option>-->
    <!--<option value="maj">Maj</option>-->
    <!--<option value="jun">Jun</option>-->
    <!--<option value="jul">Jul</option>-->
    <!--<option value="avgust">Avgust</option>-->
    <!--<option value="septembar">Septembar</option>-->
    <!--<option value="oktobar">Oktobar</option>-->
    <!--</select>-->
    <!--</div>-->
  </div>
  <div class="ibox-content sviProizvodi">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Broj fakture</th>
          <th>Kupac</th>
          <th>Ukupno za uplatu</th>
          <th>Stopa PDV</th>
          <th>Avans</th>
          <th>Valuta plaćanja</th>
          <th>Kreirana</th>
          <th>Napomena</th>
          <th><i class="fa fa-cog"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="f in fakture | filter: search">
          <td>{{f.faktura_broj}} / {{f.created_at | date:'yyyy'}}</td>
          <td>{{f.orders[0].client.ime}}</td>
          <td>
            {{f.sum - f.avans | currency:'':2}}
            <span ng-if="f.stopa_pdv != '20.00'">&euro;</span>
            <span ng-if="f.stopa_pdv == '20.00'">RSD</span>
          </td>
          <td>{{f.stopa_pdv}}</td>
          <td>{{f.avans}}</td>
          <td>
            <span ng-if="f.valuta_placanja != null">{{f.valuta_placanja}}</span>
            <span ng-if="f.valuta_placanja == null">/</span>
          </td>
          <td>{{f.created_at | date: "dd.MM.yyyy."}}</td>
          <td>
            <p ng-if="f.napomena_oslobodjenje != null">{{f.napomena_oslobodjenje}}</p>
            <p ng-if="f.napomena_oslobodjenje == null">/</p>
          </td>
          <td>
            <button class="btn btn-primary" ui-sref="app.fakturaDetaljno({id: f.id})">
              Detaljnije
            </button>
            <button class="btn btn-warning" ng-click="print(f.id)">
              <i class="fa fa-print"></i>
            </button>
            <button class="btn btn-danger" ng-click="delete(f.id)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
