<style>
  @media print {
    html, body {
      border: 1px solid white;
      height: 99%;
      page-break-after: avoid;
      page-break-before: avoid;
    }

    .printPageButton {
      display: none;
    }
  }
</style>

<!--<div class="row wrapper border-bottom white-bg page-heading printPageButton">-->
<!--<div class="col-lg-8">-->
<!--<h2>Faktura</h2>-->
<!--<ol class="breadcrumb">-->
<!--<li>-->
<!--<a href="index.html">Home</a>-->
<!--</li>-->
<!--<li>-->
<!--Other Pages-->
<!--</li>-->
<!--<li class="active">-->
<!--<strong>Invoice</strong>-->
<!--</li>-->
<!--</ol>-->
<!--</div>-->
<!--<div class="col-lg-4">-->
<!--<div class="title-action">-->
<!--<a href="" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a>-->
<!--<a href="" class="btn btn-white"><i class="fa fa-check "></i> Save </a>-->
<!--<a href="views/invoice_print.html" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print-->
<!--Invoice </a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="row">
          <div class="col-sm-6">
            <h4>Račun Otrpremnica {{faktura.faktura_broj}} / {{faktura.created_at | date: 'yyyy'}}</h4>
            <h2>Podaci o kupcu:</h2>
            <address>
              <strong>{{faktura.orders[0].client.ime}}</strong><br>
              Mesto: {{faktura.orders[0].client.mesto}}<br>
              Adresa: {{faktura.orders[0].client.adresa}}<br>
              Mesto isporuke: {{faktura.adresa_isporuke}}, {{faktura.mesto_isporuke}}<br>
              PIB: {{faktura.orders[0].client.pib}}<br>
            </address>
          </div>

          <div class="col-sm-6 text-right pull-right">
            <p>
              <span><strong>Datum izdavanja:</strong> {{faktura.created_at | date: "dd.MM.yyyy."}}</span><br/>
              <span><strong>Datum prometa dobara:</strong>
                <span ng-if="faktura.datum_prometa == ''">/</span>
                <span ng-if="faktura.datum_prometa != ''">{{faktura.datum_prometa | date: 'dd.MM.yyyy.'}}</span>
              </span><br/>
              <span><strong>Rok plaćanja:</strong> {{faktura.valuta_placanja}}</span><br/>
              <span><strong>Datum valute:</strong>
                <span ng-if="faktura.datum_valute == ''">/</span>
                <span ng-if="faktura.datum_valute != ''">{{faktura.datum_valute | date: 'dd.MM.yyyy.'}}</span>
              </span>
              <br/>
              <!--<span><strong>Mesto izdavanja računa:</strong> March 24, 2014</span><br/>-->
              <span><strong>Magacin gotovih proizvoda:</strong> Topličkih partizanskih odreda bb</span><br/>
              <span><strong>Način plaćanja:</strong> Virmanom</span><br/>
            </p>
          </div>
        </div>
        <table class="table invoice-table">
          <thead>
          <tr>
            <th>Artikal</th>
            <th>JM</th>
            <th>Količina</th>
            <th>Cena po jed. mere</th>
            <th>Iznos</th>
            <th>Rabat %</th>
            <th>Poreska osnovica</th>
            <th>PDV %</th>
            <th>Iznos PDV-a</th>
            <th>Ukupna naknada</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="n in faktura.orders">
            <td>
              {{n.item.naziv_proizvoda}}
            </td>
            <td>KOM</td>
            <td>{{n.kolicina}}</td>
            <td>
              <span ng-if="eur">{{n.cena_faktura * faktura.srednji_kurs + ((n.cena_faktura * faktura.srednji_kurs) * (n.poskupljenje /100)) | currency: '':2}}</span>
              <span ng-if="!eur">{{n.cena_faktura + (n.cena_faktura * (n.poskupljenje /100)) | currency: '':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
            <td>
              <span ng-if="eur">{{n.cena_faktura * faktura.srednji_kurs + ((n.cena_faktura * faktura.srednji_kurs) * (n.poskupljenje /100)) * n.kolicina | currency:'':2}}</span>
              <span ng-if="!eur">{{n.cena_faktura + (n.cena_faktura * (n.poskupljenje /100)) * n.kolicina | currency:'':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
            <td>{{n.rabat}}</td>
            <td>
              <span ng-if="eur">{{n.poreska_osnovica * faktura.srednji_kurs | currency: '':2}}</span>
              <span ng-if="!eur">{{n.poreska_osnovica | currency: '':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
            <td>{{faktura.stopa_pdv}}</td>
            <td>
              <span ng-if="eur">
                  {{n.cenaSaPdv * faktura.srednji_kurs| currency:'':2}}
              </span>
              <span ng-if="!eur">
                  {{n.cenaSaPdv  | currency:'':0}}
              </span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
            <td>
              <span ng-if="eur">{{(n.poreska_osnovica + n.cenaSaPdv) * faktura.srednji_kurs | currency:'':2}}</span>
              <span ng-if="!eur">{{n.poreska_osnovica + n.cenaSaPdv | currency:'':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- /table-responsive -->
        <table class="table table-bordered" style="float: left;width: 260px">
          <tr>
            <th>
              Avansna uplata:
            </th>
            <th>{{faktura.avans | currency:'':2}}</th>
          </tr>
          <tr>
            <th>
              Poreska osnovica:
            </th>
            <th>
              <span>{{faktura.avans / (1 + faktura.stopa_pdv /100) | currency: "": 2}}</span>
            </th>
          </tr>
          <tr>
            <th>
              PDV:
            </th>
            <th>
              <span>{{faktura.avans - (faktura.avans/ ( 1+ faktura.stopa_pdv / 100 ))| currency:'':2}}</span>
            </th>
          </tr>
        </table>
        <table class="table invoice-total">
          <tbody>
          <tr>
            <td><strong>Ukupno :</strong></td>
            <td>
              <span ng-if="eur">{{ukupnaCena | currency:"":2}}</span>
              <span ng-if="!eur">{{ukupnaCena | currency:"":2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          <tr>
            <td><strong>Rabat :</strong></td>
            <td>
            <span  ng-if="ukupnoRabatCena == 0">{{ukupnoRabatCena}}</span>
            <span ng-if="eur">RSD</span>
            <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          <tr>
            <td><strong>Poreska osnovica :</strong></td>
            <td>
              <span ng-if="eur">{{poreskeOsnovice * faktura.srednji_kurs | currency: '':2}}</span>
              <span ng-if="!eur">{{poreskeOsnovice | currency: '':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          <tr>
            <td><strong>PDV</strong></td>
            <td>{{faktura.stopa_pdv}}%</td>
          </tr>
          <tr>
            <td><strong>Ukupno sa PDV-om</strong></td>
            <td>
              <span ng-if="eur">{{ukupnoZaUplatu * faktura.srednji_kurs | currency:'':2}}</span>
              <span ng-if="!eur">{{ukupnoZaUplatu | currency:'':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          <tr>
            <td><strong>Za uplatu</strong></td>
            <td><strong>
              <span ng-if="eur">{{(ukupnoZaUplatu * faktura.srednji_kurs) - faktura.avans | currency:'':2}}</span>
              <span ng-if="!eur">{{ukupnoZaUplatu - faktura.avans | currency:'':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </strong></td>
          </tr>
          </tbody>
        </table>
        <!--ng-if="faktura.tip_fakture != 1"-->
        <div style="clear: both">
          <button class="btn btn-warning" ng-click="print(faktura.id)">
            <i class="fa fa-print"></i>
            <span style="display: inline-block;margin-left: 10px;">Odštampaj račun otpremnicu</span>
          </button>
          <button class="btn btn-warning" ng-click="print(faktura.id, 'zaVozaca')">
            <i class="fa fa-print"></i>
            <span style="display: inline-block;margin-left: 10px;">Odštampaj otpremnicu za vozača</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
