<style>
  @media print {
    html, body {
      border: 1px solid white;
      height: 99%;
      page-break-after: avoid;
      page-break-before: avoid;
    }

    .printPageButton {
      display: none;
    }
  }
</style>

<!--<div class="row wrapper border-bottom white-bg page-heading printPageButton">-->
<!--<div class="col-lg-8">-->
<!--<h2>Faktura</h2>-->
<!--<ol class="breadcrumb">-->
<!--<li>-->
<!--<a href="index.html">Home</a>-->
<!--</li>-->
<!--<li>-->
<!--Other Pages-->
<!--</li>-->
<!--<li class="active">-->
<!--<strong>Invoice</strong>-->
<!--</li>-->
<!--</ol>-->
<!--</div>-->
<!--<div class="col-lg-4">-->
<!--<div class="title-action">-->
<!--<a href="" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a>-->
<!--<a href="" class="btn btn-white"><i class="fa fa-check "></i> Save </a>-->
<!--<a href="views/invoice_print.html" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print-->
<!--Invoice </a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl" id="regularnaFaktura">
        <div class="row">
          <div class="form-group col-md-12">
            <label>Stopa PDV-a</label>
            <select ng-model="faktura.stopa_pdv">
              <option value="">-- Stopa PDV --</option>
              <option value="0">0%</option>
              <option value="10">10%</option>
              <option value="20" selected>20%</option>
            </select>
          </div>
          <div class="col-sm-6"
               ng-class="{ 'errorForm' : kupacForma.ime.$invalid && (!kupacForma.ime.$pristine || kupacForma.$submitted)}">
            <h4>
              Račun Otpremnica <input type="text" required="" ng-model="faktura.faktura_broj" style="width: 40px;"> /
              {{year | date: 'yyyy'}}
            </h4>
            <!--<h4>Otpremnica <input type="text" ng-model="faktura.otpremnica_broj" style="width: 40px;"> / {{year-->
            <!--| date: 'yyyy'}}</h4>-->
            <span>Podaci o kupcu:</span>
            <address>
              <strong>{{kupac.ime}}</strong><br>
              Mesto: {{kupac.mesto}}<br>
              Adresa: {{kupac.adresa}}<br>
              Mesto isporuke:
              <select name="" ng-model="adresaIsporuke">
                <option value="">-- Mesto isporuke --</option>
                <option ng-repeat="mi in mestoIsporuke.mesto_isporuke" value="{{mi}}"
                        ng-selected="mestoIsporuke.mesto_isporuke">{{mi.adresa}}, {{mi.mesto}}
                </option>
              </select>
              <br>
              PIB: {{kupac.pib}}<br>
            </address>
          </div>
          <div class="col-sm-6 text-right pull-right">
            <p>
              <span><strong>Datum izdavanja:</strong> {{faktura.datum_izdavanja | date: "dd.MM.yyyy."}}</span><br/>
              <span><strong>Datum prometa dobara:</strong>
                <span ng-if="faktura.datum_prometa == ''">/</span>
                <span ng-if="faktura.datum_prometa != ''">{{faktura.datum_prometa | date: 'dd.MM.yyyy.'}}</span>
              </span><br/>
              <span><strong>Rok plaćanja:</strong> {{faktura.valuta_placanja}}</span><br/>
              <span><strong>Datum valute:</strong>
                <span ng-if="faktura.datum_valute == ''">/</span>
                <span ng-if="faktura.datum_valute != ''">{{faktura.datum_valute | date: 'dd.MM.yyyy.'}}</span>
              </span>
              <br/>
              <!--<span><strong>Mesto izdavanja računa:</strong> March 24, 2014</span><br/>-->
              <span><strong>Magacin gotovih proizvoda:</strong> Topličkih partizanskih odreda bb</span><br/>
              <span><strong>Način plaćanja:</strong> Virmanom</span><br/>
            </p>
          </div>
        </div>
        <table class="table invoice-table">
          <thead>
          <tr>
            <th>Artikal</th>
            <th>JM</th>
            <th>Količina</th>
            <th>Cena po jed. mere</th>
            <th>Iznos</th>
            <th>Rabat %</th>
            <th class="printPageButton">Poskupljenje %</th>
            <th>Poreska osnovica</th>
            <th>PDV %</th>
            <th>Iznos PDV-a</th>
            <th>Ukupna naknada</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="n in nalozi">
            <td>
              {{n.item.naziv_proizvoda}}
            </td>
            <td>KOM</td>
            <td>{{n.kolicina}}</td>
            <td>
              <span ng-if="eur">
                {{n.item.cena * faktura.srednji_kurs + ((n.item.cena * faktura.srednji_kurs) * (n.poskupljenje /100)) | currency: '':2}}
              </span>
              <span ng-if="!eur">
                {{n.item.cena  + (n.item.cena * (n.poskupljenje /100)) | currency: '':2}}
              </span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
            <td>
              <span ng-if="eur">{{n.item.cena * faktura.srednji_kurs + ((n.item.cena * faktura.srednji_kurs) * (n.poskupljenje /100)) * n.kolicina | currency:'':2}}</span>
              <span
                ng-if="!eur">{{n.item.cena + ((n.item.cena) * (n.poskupljenje /100)) * n.kolicina | currency:'':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
            <td>
              <input type="number" style="width: 55px;" ng-model="n.rabat" ng-change="calculateRabatPoskupljenje()"
                     ng-model-options='{ debounce: 200 }'>
            </td>
            <td class="printPageButton">
              <input type="number" style="width: 55px;" ng-model="n.poskupljenje"
                     ng-change="calculateRabatPoskupljenje($index)"
                     ng-model-options='{ debounce: 200 }'>
            </td>
            <td>
              <span ng-if="eur">{{n.poreska_osnovica * faktura.srednji_kurs | currency: '':2}}</span>
              <span ng-if="!eur">{{n.poreska_osnovica | currency: '':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
            <td>{{faktura.stopa_pdv}}</td>
            <td>
              <span ng-if="eur">
                  {{n.cenaSaPdv * faktura.srednji_kurs | currency:'':2}}
              </span>
              <span ng-if="!eur">
                  {{n.cenaSaPdv  | currency:'':2}}
              </span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
            <td>
              <span ng-if="eur">{{(n.poreska_osnovica + n.cenaSaPdv) * faktura.srednji_kurs | currency:'':2}}</span>
              <span ng-if="!eur">{{n.poreska_osnovica + n.cenaSaPdv | currency:'':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- /table-responsive -->
        <table class="table invoice-total">
          <tbody>
          <tr>
            <td><strong>Ukupno :</strong></td>
            <td>
              <span ng-if="eur">{{ukupnaCena | currency:"":2}}</span>
              <span ng-if="!eur">{{ukupnaCena | currency:"":2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          <tr>
            <td><strong>Rabat :</strong></td>
            <td>
              {{ukupnoRabatCena | currency:'':2}}
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          <tr>
            <td><strong>Poreska osnovica :</strong></td>
            <td>
              <span ng-if="eur">{{poreskeOsnovice * faktura.srednji_kurs | currency: '':2}}</span>
              <span ng-if="!eur">{{poreskeOsnovice | currency: '':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          <tr>
            <td><strong>PDV {{faktura.stopa_pdv}}%</strong></td>
            <td>
              <span ng-if="eur">{{ukupanIznosPDV * faktura.srednji_kurs | currency:'':2}}</span>
              <span ng-if="!eur">{{ukupanIznosPDV | currency:'':2}}</span>
            </td>
          </tr>
          <tr>
            <td><strong>Ukupno sa PDV-om</strong></td>
            <td>
              <span ng-if="eur">{{ukupnoZaUplatu * faktura.srednji_kurs | currency:'':2}}</span>
              <span ng-if="!eur">{{ukupnoZaUplatu | currency:'':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </td>
          </tr>
          <tr>
            <td><strong>Za uplatu</strong></td>
            <td><strong>
              <span ng-if="eur">{{ukupnoZaUplatu * faktura.srednji_kurs | currency:'':2}}</span>
              <span ng-if="!eur">{{ukupnoZaUplatu | currency:'':2}}</span>
              <span ng-if="eur">RSD</span>
              <span ng-if="!eur">&euro;</span>
            </strong></td>
          </tr>
          </tbody>
        </table>

        <br>

        <table class="table invoice-total pull-left text-left">
          <tbody>
          <tr>
            <td><strong>Avansna uplata :</strong></td>
            <td>
              <span>
                {{avansnaUplata}}
                <span ng-if="eur"> RSD</span>
                <span ng-if="!eur"> &euro;</span>
              </span>
            </td>
          </tr>
          <tr>
            <td><strong>Poreska osnovica :</strong></td>
            <td>
              <span ng-if="avansnaUplata != 0">{{avansnaUplata / 1.2 | currency: "": 2}}</span>
              <span ng-if="avansnaUplata == 0">/</span>
            </td>
          </tr>
          <tr>
            <td><strong>PDV :</strong></td>
            <td>
              <span>
                <span ng-if="avansnaUplata != 0">{{avansnaUplata - (avansnaUplata / 1.2)}}</span>
                <span ng-if="avansnaUplata == 0">/</span>
              </span>
            </td>
          </tr>
          </tbody>
        </table>

        <hr>

        <div class="printPageButton" style="margin-top: 50px;">
          <form ng-submit="dodajFakturu()" class="form-horizontal ng-pristine ng-valid myForm">
            <div class="row">
              <div class="form-group col-md-3">
                <label>Valuta plaćanja</label>
                <input type="number" ng-model="faktura.valuta_placanja" placeholder="Valuta plaćanja">
              </div>

              <div class="form-group col-md-3">
                <label>Avans</label>
                <input type="text" ng-model="faktura.avans" placeholder="Avans">
              </div>
              <div class="form-group col-md-3"
                   ng-if="faktura.stopa_pdv == '20'" ng-class="{'col-xs-4': faktura.stopa_pdv == '20'}">
                <label>Srednji kurs - <span style="margin-right: 10px;">&euro;</span><a
                  href="https://www.nbs.rs/export/sites/default/internet/cirilica/scripts/kl_srednji.html"
                  target="_blank">NBS kursna lista</a></label>
                <input type="text" ng-model="faktura.srednji_kurs" placeholder="Srednji kurs">
              </div>
              <!--<div class="form-group col-xs-4">-->
              <!--<label>Datum plaćanja</label>-->
              <!--<input type="date" ng-model="faktura.valuta_placanja">-->
              <!--</div>-->
              <!--<div class="form-group col-xs-4">-->
              <!--<label>Datum prometa dobara</label>-->
              <!--<input type="date" ng-model="faktura.datum_prometa">-->
              <!--</div>-->
              <!--<div class="form-group col-xs-4">-->
              <!--<label>Datum valute</label>-->
              <!--<input type="date" ng-model="faktura.datum_valute">-->
              <!--</div>-->
            </div>
            <div class="row">
              <!--<div class="form-group col-xs-6">-->
              <!--<label>Stopa PDV-a</label>-->
              <!--<select ng-model="faktura.stopa_pdv">-->
              <!--<option value="">&#45;&#45; Stopa PDV &#45;&#45;</option>-->
              <!--<option value="0">0%</option>-->
              <!--<option value="10">10%</option>-->
              <!--<option value="20" selected>20%</option>-->
              <!--</select>-->
              <!--</div>-->
              <!--<div class="form-group col-xs-6">-->
              <!--<label>Avans</label>-->
              <!--<input type="text" ng-model="faktura.avans" placeholder="Avans">-->
              <!--</div>-->
            </div>
            <div class="row">
              <!--<div class="form-group"-->
              <!--ng-if="faktura.stopa_pdv == '20'" ng-class="{'col-xs-4': faktura.stopa_pdv == '20'}">-->
              <!--<label>Srednji kurs</label>-->
              <!--<input type="text" ng-model="faktura.srednji_kurs" placeholder="Srednji kurs">-->
              <!--</div>-->
              <!--<div class="form-group"-->
              <!--ng-class="{'col-xs-4': faktura.stopa_pdv == '20', 'col-xs-6': faktura.stopa_pdv != '20'}">-->
              <!--<label>Rabat %</label>-->
              <!--<input type="text" ng-model="faktura.rabat" placeholder="Rabat">-->
              <!--</div>-->
              <!--<div class="form-group col-xs-6"-->
              <!--ng-class="{'col-xs-4': faktura.stopa_pdv == '20', 'col-xs-6': faktura.stopa_pdv != '20'}">-->
              <!--<label>Poskupljenje %</label>-->
              <!--<input type="text" ng-model="faktura.poskupljenje" placeholder="Poskupljenje">-->
              <!--</div>-->
            </div>
            <div class="form-group" ng-if="faktura.stopa_pdv == '0'">
              <label class="control control--checkbox" style="padding-left: 30px;">Izvozna faktura
                <input type="checkbox" ng-model="faktura.tip_fakture"/>
                <div class="control__indicator" style="top: 2px !important; left: 5px !important;"></div>
              </label>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Datum izdavanja</label>
                <input placeholder="Datum izdavanja" id="datumIzdavanja" ng-model="datumIzdavanja">
              </div>
              <div class="form-group col-md-6">
                <label>Datum prometa</label>
                <input type="text" id="datumPrometa" ng-model="datumPrometa">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 form-group">
                <label>Koleta</label>
                <input type="text" placeholder="Koleta" ng-model="izvoznaFak.koleta">
              </div>
              <div class="col-md-3 form-group">
                <label>Paritet</label>
                <input type="text" placeholder="Paritet" ng-model="izvoznaFak.paritet">
              </div>
              <div class="col-md-3 form-group">
                <label>Bruto</label>
                <input type="text" placeholder="Bruto" ng-model="izvoznaFak.bruto">
              </div>
              <div class="col-md-3 form-group">
                <label>Neto</label>
                <input type="text" placeholder="Neto" ng-model="izvoznaFak.neto">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label>Vozilo</label>
                <select name="" ng-model="vozilo">
                  <option value="">-- Izaberi vozilo --</option>
                  <option ng-repeat="v in vehicles" value="{{v}}">{{v.tip_vozila}} - {{v.registracija}}</option>
                </select>
                <!--<input type="text" placeholder="Reg Br. kamiona" ng-model="izvoznaFak.reg_br">-->
              </div>
              <div class="col-md-6 form-group">
                <label>Vozač</label>
                <select name="" ng-model="vozac">
                  <option value="">-- Izaberi vozača --</option>
                  <option ng-repeat="v in vozaci" value="{{v}}">{{v.ime_vozaca}} - {{v.licna_karta}}</option>
                </select>
                <!--<input type="text" placeholder="Vozač" ng-model="izvoznaFak.vozac">-->
              </div>
              <!--<div class="col-md-4 form-group">-->
              <!--<label>Br. lične karte</label>-->
              <!--<input type="text" placeholder="Br. lične karte" ng-model="izvoznaFak.br_licne">-->
              <!--</div>-->
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label>Opšta napomena</label>
                <textarea cols="30" rows="10" ng-model="faktura.napomena"
                          placeholder="Napomena oslobodjenje"></textarea>
              </div>
              <div class="form-group col-md-6">
                <label>Napomena oslobodjenje</label>
                <textarea cols="30" rows="10" ng-model="faktura.napomena_oslobodjenje"
                          placeholder="Napomena oslobodjenje"></textarea>
              </div>
            </div>
            <div class="text-right">
              <a class="btn btn-primary" ng-click='cancel()'>
                Odustani
              </a>
              <button class="btn btn-primary"><i class="fa fa-print"></i>
                Odštampaj i dodaj fakturu
              </button>
            </div>
          </form>
          <!--<button class="btn btn-primary" ng-click="printZaVozaca()"><i class="fa fa-print"></i>-->
          <!--Za vozača-->
          <!--</button>-->
        </div>
      </div>

      <div id="zaVozaca" class="printPageButton">
        <div class="row">
          <div class="col-sm-6">
            <h4>Račun Otpremnica <input type="text" ng-model="faktura.faktura_broj" style="width: 40px;"> / {{year |
              date: 'yyyy'}}</h4>
            <span>Podaci o kupcu:</span>
            <address>
              <strong>{{kupac.ime}}</strong><br>
              Mesto: {{kupac.mesto_isporuke}}<br>
              Adresa: {{kupac.adresa_isporuke}}<br>
              PIB: {{kupac.pib}}<br>
            </address>
          </div>
          <div class="col-sm-6 text-right pull-right">
            <p>
              <span><strong>Datum izdavanja:</strong> {{date | date: "dd.MM.yyyy."}}</span><br/>
              <span><strong>Datum prometa dobara:</strong>
                <span ng-if="faktura.datum_prometa == ''">/</span>
                <span ng-if="faktura.datum_prometa != ''">{{faktura.datum_prometa | date: 'dd.MM.yyyy.'}}</span>
              </span><br/>
              <span><strong>Rok plaćanja:</strong> {{faktura.valuta_placanja}}</span><br/>
              <span><strong>Datum valute:</strong>
                <span ng-if="faktura.datum_valute == ''">/</span>
                <span ng-if="faktura.datum_valute != ''">{{faktura.datum_valute | date: 'dd.MM.yyyy.'}}</span>
              </span>
              <br/>
              <!--<span><strong>Mesto izdavanja računa:</strong> March 24, 2014</span><br/>-->
              <span><strong>Magacin gotovih proizvoda:</strong> Topličkih partizanskih odreda bb</span><br/>
              <span><strong>Način plaćanja:</strong> Virmanom</span><br/>
            </p>
          </div>
        </div>
        <table class="table invoice-table">
          <thead>
          <tr>
            <th>Artikal</th>
            <th>JM</th>
            <th>Količina</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="n in faktura.orders">
            <td>
              {{n.item.naziv_proizvoda}}
            </td>
            <td>KOM</td>
            <td>{{n.kolicina}}</td>
          </tr>
          </tbody>
        </table>
        <textarea name="" id="" placeholder="Napomena - Ide za vozača" style="width: 100%" cols="30"
                  rows="10"></textarea>
      </div>
    </div>
    <!-- /table-responsive -->
  </div>
</div>
