<style>
  th, td {
    padding: 5px !important;
  }

</style>

<!-- Wrapper-->
<div id="wrapper">

  <!-- Navigation -->
  <div ng-include="'views/common/navigation.html'"></div>

  <!-- Page wraper -->
  <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

    <!-- Page wrapper -->
    <div ng-include="'views/common/topnavbar.html'"></div>

    <div class="animated fadeInRight">
      <div>
        <div class="ibox-title">
          <h3>Nalozi na čekanju</h3>
        </div>
        <div class="ibox-content sviProizvodi">
          <div class="table-responsive">
            <table class="table table-bordered tables_ui">
              <thead>
              <tr>
                <th>R. Br.</th>
                <th>Pravac</th>
                <th>Datum</th>
                <th>Kupac</th>
                <th>Naziv GP</th>
                <!--<th>Materijal</th>-->
                <th>KOL</th>
                <th>Br. naloga</th>
                <th>Delovi / Mat.</th>
                <th>Napomena</th>
                <th>Napomena - privatna</th>
                <th><i class="fa fa-cog"></i></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="n in nalozi" ng-if="n.shipment_id == null">
                <td>{{$index+1}}</td>
                <td>
                  <select style="width: 140px;" class="form-control" ng-model="izabraniPravac">
                    <option value="">-- Pravac --</option>
                    <option ng-repeat="p in pravac" value="{{p.id}}">{{p.pravac}}</option>
                  </select>
                </td>
                <td>{{n.created_at | date: 'dd.MM.yyyy.'}}</td>
                <td>{{n.client.ime}}</td>
                <td>{{n.item.naziv_proizvoda}}</td>
                <!--<td>-->
                <!--<span >{{n.parts.pivot.material}}</span>-->
                <!--<p ng-repeat="m in n.parts">{{m.pivot.material}}</p>-->
                <!--</td>-->
                <td>{{n.kolicina}}</td>
                <td>
                  <!--<span ng-if="n.broj_naloga == null">/</span>-->
                  <!--<span ng-if="n.broj_naloga != null">{{n.broj_naloga}}</span>-->
                  <span>{{n.id}}</span>
                </td>
                <td>
                  <span ng-if="n.parts.length == 0">/</span>
                  <ul style="list-style: none;padding: 0">
                    <li style="display: inline-block" ng-repeat="part in n.parts">
                    <span style="text-transform: uppercase">
                      <span ng-if="part.skraceni_naziv != null">{{part.skraceni_naziv}} -</span>
                      <span ng-if="part.skraceni_naziv == null">{{part.naziv}} -</span>
                    </span>
                      {{part.pivot.material}}
                      <span ng-if="!$last">,</span>&nbsp;
                    </li>
                  </ul>
                </td>
                <td>
                  {{n.napomena_javna}}
                </td>
                <td class="napomena2" style="color: red">
                  <b>{{n.napomena_privatna}}</b>
                </td>
                <td style="white-space: nowrap !important;">
                  <button class="btn btn-warning" ng-click="finish(izabraniPravac, n)">
                    <i class="fa fa-check"></i>
                  </button>
                  <button class="btn btn-primary" ui-sref="app.nalogEdit({id: n.id})">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button class="btn btn-danger" ng-click="delete(n.id)">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ibox-title">
        <h3>Planer isporuke</h3>
        <div class="gridDiv">
          <p class="gridTitle">Prikaz</p>
          <ul class="gridList">
            <li ng-class="{'activeGrid': activeDeo}" ng-click="switchView('pola')">
              <img src="img/icons/grid1.png" alt="">
            </li>
            <li ng-class="{'activeGrid': activeTri}" ng-click="switchView('tri')">
              <img src="img/icons/grid3.png" alt="">
            </li>
            <li ng-class="{'activeGrid': activeCeo}" ng-click="switchView('ceo')">
              <img src="img/icons/grid2.png" alt="">
            </li>
          </ul>
        </div>
        <!--<form class="form-horizontal ng-pristine ng-valid myForm">-->
        <!--<div class="input-group m-b">-->
        <!--<input type="text" ng-model="search.pravac" placeholder="Pretraga pravaca">-->
        <!--<span class="input-group-addon">-->
        <!--<i class="fa fa-search"></i>-->
        <!--</span>-->
        <!--</div>-->
        <!--</form>-->
      </div>

      <div class="ibox-content">
        <div class="container-fluid">
          <div class="planerDiv">
            <div class="col-md-6" ng-repeat="p in pravac | filter: search" id="{{p.id}}">
              <div class="ibox-title" ng-class="{'marginBottomEmptyShipment': p.orders.length == 0}">
                <h2 style="font-weight: bold">{{p.pravac}}</h2>
                <div class="shipmentBtns">
                  <button ng-if="p.orders.length > 0" ng-click="printShipment(p.id)"
                          class="btn btn-primary"><i class="fa fa-print"></i>
                  </button>
                  <button ng-if="p.spremnoZaArhiviranje" class="btn btn-warning" ng-click="archive(p.id)">
                    <i class="fa fa-file-archive-o"></i>
                  </button>
                </div>
                <ul class="planBasicInfo">
                  <li ng-if="p.vehicle.tip_vozila != null">
                    <i class="fa fa-truck"></i>
                    <p>{{p.vehicle.tip_vozila}}</p>
                  </li>
                  <li>
                    <i class="fa fa-calendar"></i>
                    <p>{{p.datum_slanja | date: 'dd.MM.yyyy.'}} {{p.dan}}</p>
                  </li>
                  <li>
                    <i class="fa fa-database"></i>
                    <p>Zapremina: <b>{{p.ukupnaZapremina | currency:'':2}} m<sup>3</sup></b></p>
                  </li>
                </ul>
              </div>
              <div class="clearFloat"></div>
              <div class="table-responsive planerTable">
                <table class="table table-bordered noselect tables_ui">
                  <tbody class="t_sortable">
                  <tr>
                    <th>R. Br.</th>
                    <th>Status</th>
                    <th class="visible-md visible-xs">Pravac / Red.</th>
                    <!--<th class="visible-md visible-xs">Redosled</th>-->
                    <th class="mobileHidden">Datum kreiranja</th>
                    <th class="mobileHidden">Za Fakt.</th>
                    <th>Kupac</th>
                    <th>Naziv GP</th>
                    <th>KOL</th>
                    <th>Br. naloga</th>
                    <th ng-if="!activeTri">Delovi / Mat.</th>
                    <th>Napomena</th>
                    <th>Napomena - privatna</th>
                    <th>Zapremina</th>
                  </tr>
                  <tr style="line-height: 1;padding-bottom: 0;width: 250px !important;"
                      ng-class="{'aktivnosti': order.aktivnosti_datum != null}"
                      ng-right-click="openContext(order, order.id, order.aktivnosti_datum)"
                      ng-repeat="order in p.orders | orderBy: 'red_br_utovara'" value="{{order}}">

                    <td ng-class="{'priprema': order.priprema_datum != null}">{{order.red_br_utovara}}.</td>

                    <td>
                      <ul class="statusList">
                        <li>


                          <div class="status priprema"
                               ng-class="{'wait': order.priprema_state == 1, 'inProgress': order.priprema_state == 2, 'pause' : order.priprema_state == 3, 'done' : order.priprema_state == 4}">
                            <p style="display: inline-block;position: relative;top: 12px;font-weight: bold">P</p>
                          </div>

                          <div class="status krojenje"
                               ng-class="{'wait': order.krojenje_state == 1, 'inProgress': order.krojenje_state == 2, 'pause' : order.krojenje_state == 3, 'done' : order.krojenje_state == 4}">
                            <p style="display: inline-block;position: relative;top: 12px;font-weight: bold">K</p>
                          </div>
                          
                          <div class="status sivenje"
                               ng-class="{'wait': order.sivenje_state == 1, 'inProgress': order.sivenje_state == 2, 'pause' : order.sivenje_state == 3, 'done' : order.sivenje_state == 4}">
                            <p style="display: inline-block;position: relative;top: 12px;font-weight: bold">Š</p>

                          </div>
                       
                           <div class="status tapaciranje"
                               ng-class="{'wait': order.tapaciranje_state == 1, 'inProgress': order.tapaciranje_state == 2, 'pause' : order.tapaciranje_state == 3, 'done' : order.tapaciranje_state == 4}">
                            <p style="display: inline-block;position: relative;top: 12px;font-weight: bold">T</p>
                          </div>
                        </li>
                      </ul>
                    </td>

                    <td class="mobilePlaner">
                      <button style="padding: 0 5px;margin-top: -2px;margin-bottom: 5px;"
                              ng-click="prebaciUshipment(izabraniPravac2, order)"
                              ng-if="izabraniPravac2 != undefined && izabraniPravac2 != ''"
                              class="btn btn-primary">Prebaci
                      </button>
                      <select ng-model="izabraniPravac2">
                        <option value="">-- Pravac --</option>
                        <option ng-repeat="p in pravac" ng-value="p.id" ng-if="p.id != order.shipment_id">
                          {{p.pravac}}
                        </option>
                      </select>
                    </td>
                    <td class="orderButtons mobilePlaner">
                      <button ng-click="up($parent.$index, p.orders, order, order.red_br_utovara)">
                        <i class="fa fa-caret-up"></i></button>
                      <button ng-click="down($parent.$index, p.orders, order, $index)"><i
                        class="fa fa-caret-down"></i></button>
                    </td>
                    <!-- ng-if="order.invoice_id == null" -->
                    <td class="mobileHidden">{{order.created_at | date: 'dd.MM.yyyy.'}}</td>
                    <td class="fakCheck mobileHidden" style="padding: 3px !important;">
                      <label class="control control--checkbox" ng-if="order.invoice_id == null">
                        <input type="checkbox" class="planerCheck" ng-model="order.faktura">
                        <div class="control__indicator" style="left: 12px;top: -2px;"></div>
                      </label>
                      <span style="color: red;font-weight: bold" ng-if="order.invoice_id != null">Fakturisano</span>
                    </td>
                    <td>{{order.client.ime}}</td>
                    <td>{{order.item.naziv_proizvoda}}</td>
                    <td>{{order.kolicina}}</td>
                    <td>
                      <!--{{order.broj_naloga}}-->
                      {{order.id}}
                    </td>
                    <td style="text-align: left;" class="deloviTabela" ng-if="!activeTri">
                      <span ng-if="order.parts.length == 0">/</span>
                      <ul style="list-style: none;padding: 0;width: 420px;">
                        <li style="display: inline-block" ng-repeat="part in order.parts">
                        <span style="text-transform: uppercase">
                          <span ng-if="part.skraceni_naziv != null">{{part.skraceni_naziv}} -</span>
                          <span ng-if="part.skraceni_naziv == null">{{part.naziv}} - </span>
                        </span>
                          {{part.pivot.material}}
                          <span ng-if="!$last">,</span>&nbsp;
                        </li>
                      </ul>
                    </td>
                    <td>
                      {{order.napomena_javna}}
                    </td>
                    <td class="napomena2">
                      <span>{{order.napomena_privatna}}</span>
                    </td>
                    <td>{{order.item.zapremina}}m<sup>3</sup></td>
                    
                  </tr>
                  </tbody>
                </table>
              </div>
              <!--<button style="position:relative;top: 10px;font-size: 16px;" class="btn btn-primary"-->
              <!--ng-click="selektujeSve($index)">-->
              <!--<span ng-if="!p.allSelected"><i style="position:relative;right: 5px;" class="fa fa-check-square"-->
              <!--aria-hidden="true"></i> Selektuj sve naloge</span>-->
              <!--<span ng-if="p.allSelected"><i style="position:relative;right: 5px;" class="fa fa-square-o"-->
              <!--aria-hidden="true"></i> Odselektuj sve naloge</span>-->
              <!--</button>-->
              <button class="btn btn-danger fakturisanjebtn mobileHidden"
                      ng-click="fakturisanje()">
                <i style="position:relative;right: 5px;" class="fa fa-money" aria-hidden="true"></i>
                Fakturiši
              </button>
              <div class="legendaDiv">
                <ul class="legenda">
                  <li>
                    <div></div>
                    <p>Radni nalog</p>
                  </li>
                  <li>
                    <div></div>
                    <p>Nalog za pripremu</p>
                  </li>
                  <br>
                  <li class="wait">
                    <div></div>
                    <p>Na čekanju</p>
                  </li>
                  <li class="inProgress">
                    <div></div>
                    <p>U procesu izrade</p>
                  </li>
                  <li class="pause">
                    <div></div>
                    <p>Pauziran</p>
                  </li>
                  <li class="done">
                    <div></div>
                    <p>Završeno</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <!--<div ng-include="'views/common/footer.html'"></div>-->
  </div>
  <!-- End page wrapper-->
</div>
<!-- End wrapper-->
<div class="contextMenuOrder" id="context{{order.id}}">
  <ul>
    <li ng-click="printNalog(orderIdContext, orderDatumContext)">
      <p><i class="fa fa-print"></i>Radni nalog</p>
    </li>
    <li ng-click="printNalogPrip(orderIdContext, orderDatumContext)">
      <p><i class="fa fa-print"></i>Nalog za prip.</p>
    </li>
    <li ng-click="deleteShipNalog(nerOrder)">
      <p><i class="fa fa-trash-o"></i>Neraspoređen</p>
    </li>
    <li ui-sref="app.nalogEdit({id: orderIdContext})">
      <p><i class="fa fa-pencil"></i>Edit</p>
    </li>
  </ul>
</div>

<div class="loading">
  <div class="load">Loading...</div>
</div>
<style>
  .angular-ui-tree-handle {
    background: none repeat scroll 0 0 #f3f3f4;
    border: 1px dashed #e7eaec;
    color: inherit;
    padding: 10px;
    font-weight: normal;
  }

  .angular-ui-tree-handle:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 1px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .group-title {
    background-color: #687074 !important;
    color: #FFF !important;
  }

  .tree-node {
    background: none repeat scroll 0 0 #f3f3f4;
    border: 1px dashed #e7eaec;
    color: inherit;
    padding: 10px;
    border-radius: 3px;
  }

  .tree-node .btn {
    min-width: 22px;
    margin-right: 4px;
  }

  .tree-node-content {
    margin: 5px 5px 5px 0;
  }

  .tree-handle {
    background: none repeat scroll 0 0 #f3f3f4;
    border: 1px dashed #e7eaec;
    color: inherit;
    padding: 10px;
  }

  .angular-ui-tree-handle:hover {
  }

  .angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 1px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
</style>
