<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Custom responsive table </h5>
          <div ibox-tools="" class="ng-scope">
            <div class="ibox-tools dropdown" uib-dropdown="">
              <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
              <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-wrench"></i>
              </a>
              <ul uib-dropdown-menu="" class="dropdown-menu">
                <li><a href="">Config option 1</a>
                </li>
                <li><a href="">Config option 2</a>
                </li>
              </ul>
              <a ng-click="closebox()"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-9 m-b-xs">
              <div data-toggle="buttons" class="btn-group">
                <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week
                </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span
                class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>

                <th>#</th>
                <th>Project</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Completed</th>
                <th>Task</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Project
                  <small>This is example of project</small>
                </td>
                <td>Patrick Smith</td>
                <td>0800 051213</td>
                <td>Inceptos Hymenaeos Ltd</td>
                <td>
                  <pie-chart data="main.PieChart5.data" options="main.PieChart5.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">226,134</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 1 1 2.2452815972907922 13.55726696367198 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 2.2452815972907922 13.55726696367198 A 8 8 0 0 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>20%</td>
                <td>Jul 14, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alpha project</td>
                <td>Alice Jackson</td>
                <td>0500 780909</td>
                <td>Nec Euismod In Company</td>
                <td>
                  <pie-chart data="main.PieChart4.data" options="main.PieChart4.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">1,4</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 15.60845213036123 5.52786404500042 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 15.60845213036123 5.52786404500042 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>40%</td>
                <td>Jul 16, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Betha project</td>
                <td>John Smith</td>
                <td>0800 1111</td>
                <td>Erat Volutpat</td>
                <td>
                  <pie-chart data="main.PieChart3.data" options="main.PieChart3.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">0.52,1.561</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 15.999997720941021 7.993961379422852 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 15.999997720941021 7.993961379422852 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>75%</td>
                <td>Jul 18, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Gamma project</td>
                <td>Anna Jordan</td>
                <td>(016977) 0648</td>
                <td>Tellus Ltd</td>
                <td>
                  <pie-chart data="main.PieChart6.data" options="main.PieChart6.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">0.52,1.041</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>18%</td>
                <td>Jul 22, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alpha project</td>
                <td>Alice Jackson</td>
                <td>0500 780909</td>
                <td>Nec Euismod In Company</td>
                <td>
                  <pie-chart data="main.PieChart.data" options="main.PieChart.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">1,5</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 14.928203230275509 4 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 14.928203230275509 4 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>40%</td>
                <td>Jul 16, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Project
                  <small>This is example of project</small>
                </td>
                <td>Patrick Smith</td>
                <td>0800 051213</td>
                <td>Inceptos Hymenaeos Ltd</td>
                <td>
                  <pie-chart data="main.PieChart4.data" options="main.PieChart4.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">1,4</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 15.60845213036123 5.52786404500042 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 15.60845213036123 5.52786404500042 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>20%</td>
                <td>Jul 14, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Gamma project</td>
                <td>Anna Jordan</td>
                <td>(016977) 0648</td>
                <td>Tellus Ltd</td>
                <td>
                  <pie-chart data="main.PieChart3.data" options="main.PieChart3.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">0.52,1.561</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 15.999997720941021 7.993961379422852 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 15.999997720941021 7.993961379422852 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>18%</td>
                <td>Jul 22, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Project
                  <small>This is example of project</small>
                </td>
                <td>Patrick Smith</td>
                <td>0800 051213</td>
                <td>Inceptos Hymenaeos Ltd</td>
                <td>
                  <pie-chart data="main.PieChart2.data" options="main.PieChart2.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">226,360</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 13.265355172426087 14.022958982776313 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 13.265355172426087 14.022958982776313 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>20%</td>
                <td>Jul 14, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alpha project</td>
                <td>Alice Jackson</td>
                <td>0500 780909</td>
                <td>Nec Euismod In Company</td>
                <td>
                  <pie-chart data="main.PieChart6.data" options="main.PieChart6.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">0.52,1.041</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>40%</td>
                <td>Jul 16, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Betha project</td>
                <td>John Smith</td>
                <td>0800 1111</td>
                <td>Erat Volutpat</td>
                <td>
                  <pie-chart data="main.PieChart5.data" options="main.PieChart5.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">226,134</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 1 1 2.2452815972907922 13.55726696367198 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 2.2452815972907922 13.55726696367198 A 8 8 0 0 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>75%</td>
                <td>Jul 18, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Gamma project</td>
                <td>Anna Jordan</td>
                <td>(016977) 0648</td>
                <td>Tellus Ltd</td>
                <td>
                  <pie-chart data="main.PieChart4.data" options="main.PieChart4.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">1,4</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 15.60845213036123 5.52786404500042 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 15.60845213036123 5.52786404500042 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>18%</td>
                <td>Jul 22, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alpha project</td>
                <td>Alice Jackson</td>
                <td>0500 780909</td>
                <td>Nec Euismod In Company</td>
                <td>
                  <pie-chart data="main.PieChart.data" options="main.PieChart.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">1,5</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 14.928203230275509 4 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 14.928203230275509 4 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>40%</td>
                <td>Jul 16, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Project
                  <small>This is example of project</small>
                </td>
                <td>Patrick Smith</td>
                <td>0800 051213</td>
                <td>Inceptos Hymenaeos Ltd</td>
                <td>
                  <pie-chart data="main.PieChart3.data" options="main.PieChart3.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">0.52,1.561</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 15.999997720941021 7.993961379422852 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 15.999997720941021 7.993961379422852 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>20%</td>
                <td>Jul 14, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Gamma project</td>
                <td>Anna Jordan</td>
                <td>(016977) 0648</td>
                <td>Tellus Ltd</td>
                <td>
                  <pie-chart data="main.PieChart2.data" options="main.PieChart2.options" class="ng-isolate-scope"><span
                    class="" style="display: none;">226,360</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 13.265355172426087 14.022958982776313 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 13.265355172426087 14.022958982776313 A 8 8 0 1 1 7.999999999999998 0 Z"
                            fill="#d7d7d7"></path>
                    </svg>
                  </pie-chart>
                </td>
                <td>18%</td>
                <td>Jul 22, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
