<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Klijent</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">
            <div class="profile-image">
                <img src="img/icons/company.png" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{klijent.ime}}
                        </h2>
                        <p style="height: 36px;margin-top: 20px;"><i class="fa fa-map-marker"></i> {{klijent.adresa}},
                            {{klijent.mesto}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <ul class="klijentList">
            <li>
                Bankovni racuni:
                <ul>
                    <li ng-repeat="k in klijent.br_racun">{{k.account}}, {{k.banka}}</li>
                </ul>
            </li>
            <li>E-mail: {{klijent.email}}</li>
            <li>FAX: {{klijent.fax}}</li>
            <li>Mesto: {{klijent.mesto}}</li>
            <li>PIB: {{klijent.pib}}</li>
            <li>JIB: {{klijent.jib}}</li>
            <li>Postanski broj: {{klijent.postanski_broj}}</li>
            <li>Web Adresa: {{klijent.web_adresa}}</li>
            <li>
                Mesta isporuke:
                <ul>
                    <li ng-repeat="m in klijent.mesto_isporuke">
                        Adresa: {{m.adresa}}
                        Mesto: {{m.mesto}}
                    </li>
                </ul>
            </li>
            <li>
                Kontakt osobe:
                <ul>
                    <li ng-repeat="ko in klijent.kontakt_osoba">
                        <b>Ime</b>: {{ko.ime}},
                        <b>Funkcija</b>: {{ko.funkcija}},
                        <b>Telefon</b>: {{ko.telefon}},
                        <b>E-mail</b>: {{ko.email}}
                    </li>
                </ul>
            </li>
            <li>
                Kontakt telefoni:
                <ul>
                    <li ng-repeat="t in klijent.kontakt_telefon">
                        {{t.opis}} : {{t.telefon}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
