<div class="ibox float-e-margins animated fadeInRight">
  <div class="ibox-content">
    <button ui-sref="app.dodajKupca" type="button" class="btn btn-w-m btn-info dodajKupcaBtn"><i
      class="fa fa-plus"></i>Dodaj novog kupca / klijenta
    </button>
    <div class="row">
      <form class="form-horizontal ng-pristine ng-valid myForm proizvodiPretraga">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Pretraga klijenata" ng-model="search">
          <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="animated fadeInRight">
  <div class="wrapper wrapper-content animated fadeInRight ng-scope">
    <div class="row">
      <div class="col-lg-4" ng-repeat="k in klijenti | filter: search">
        <div class="contact-box">
          <div class="edit">
            <button class="btn btn-primary" ng-click="edit(k.id)"><i class="fa fa-pencil"></i></button>
          </div>
          <div class="delete">
            <button class="btn btn-danger" ng-click="delete(k.id)"><i class="fa fa-trash"></i></button>
          </div>
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/icons/company.png">
              </div>
            </div>
            <div class="col-sm-8">
              <h3 style="height: 40px;margin-top: 20px"><strong>{{k.ime}}</strong></h3>
              <p style="height: 36px;"><i class="fa fa-map-marker"></i> {{k.adresa}}, {{k.mesto}}</p>
              <button style="margin-top: 10px;" ui-sref="app.klijent({id: k.id})" class="btn btn-warning">Detaljnije
              </button>
            </div>
            <div class="clearfix"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
