<div class="animated fadeInRight">
    <div class="ibox-title">
        <h3>Dodaj materijal</h3>
    </div>
    <div class="ibox-content">
        <form ng-submit="dodajMaterijal()" class="form-horizontal ng-pristine ng-valid myForm">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Naziv materijala</label>
                    <input type="text" ng-model="materijal.naziv_materijala" placeholder="Naziv materijala">
                </div>
              <div class="form-group col-xs-4">
                <label>Jedinica mere</label>
                <input type="text" ng-model="materijal.jedinica_mere" placeholder="Jedinica mere">
              </div>
                <div class="form-group col-xs-4">
                    <label>Cena materijala</label>
                    <div class="input-group m-b">
                        <input type="text" ng-model="materijal.cena_materijala" placeholder="Cena materijala">
                        <span class="input-group-addon">&euro;</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary" type="submit" ng-if="post">Dodaj materijal</button>
                    <button class="btn btn-primary" type="submit" ng-if="put">Ažuriraj materijal</button>
                    <button class="btn btn-primary" type="submit" ng-if="put" ng-click="cancel()">Odustani</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="animated fadeInRight">
    <div class="ibox-title">
        <h3>Lista Materijala</h3>
      <form class="form-horizontal ng-pristine ng-valid myForm proizvodiPretraga">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Pretraga materijala" ng-model="search.naziv_materijala">
          <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
        </div>
      </form>
    </div>
    <div class="ibox-content sviProizvodi">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Naziv materijala</th>
                    <th>Jedinica mere</th>
                    <th>Cena materijala</th>
                    <th><i class="fa fa-cog"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in materials | filter: search">
                    <td>{{$index+1}}</td>
                    <td>{{m.naziv_materijala}}</td>
                    <td>{{m.jedinica_mere}}</td>
                    <td>{{m.cena_materijala | currency: '':0}} &euro;</td>
                    <td>
                        <button class="btn btn-primary" ng-click="edit(m.id)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger" ng-click="delete(m.id)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
