<div class="animated fadeInRight">
  <div>
    <div class="ibox-title">
      <h3>Nalozi</h3>
    </div>
    <div class="ibox-content sviProizvodi">
      <div class="table-responsive">
        <table class="table table-bordered tables_ui">
          <thead>
          <tr>
            <th>R. Br.</th>
            <th>Pravac</th>
            <th>Datum</th>
            <th>Kupac</th>
            <th>Naziv GP</th>
            <!--<th>Materijal</th>-->
            <th>Količina</th>
            <th>Br. naloga</th>
            <th>Delovi / Mat.</th>
            <th>Napomena</th>
            <th>Napomena - privatna</th>
            <th><i class="fa fa-cog"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="n in nalozi | limitTo: 50" >
            <td>{{$index+1}}</td>
            <td>
              <select style="width: 140px;" class="form-control" ng-model="izabraniPravac">
                <option value="">-- Pravac --</option>
                <option ng-repeat="p in pravac" value="{{p.id}}">{{p.pravac}}</option>
              </select>
            </td>
            <td>{{n.created_at | date: 'dd.MM.yyyy.'}}</td>
            <td>{{n.client.ime}}</td>
            <td>{{n.item.naziv_proizvoda}}</td>
            <!--<td>-->
            <!--<span >{{n.parts.pivot.material}}</span>-->
            <!--<p ng-repeat="m in n.parts">{{m.pivot.material}}</p>-->
            <!--</td>-->
            <td>{{n.kolicina}}</td>
            <td>
              <!--<span ng-if="n.broj_naloga == null">/</span>-->
              <!--<span ng-if="n.broj_naloga != null">{{n.broj_naloga}}</span>-->
              <span>{{n.id}}</span>
            </td>
            <td>
              <span ng-if="n.parts.length == 0">/</span>
              <ul style="list-style: none;padding: 0">
                <li style="display: inline-block" ng-repeat="part in n.parts">
                    <span style="text-transform: uppercase">
                      <span ng-if="part.skraceni_naziv != null">{{part.skraceni_naziv}} -</span>
                      <span ng-if="part.skraceni_naziv == null">{{part.naziv}} -</span>
                    </span>
                  {{part.pivot.material}}
                  <span ng-if="!$last">,</span>&nbsp;
                </li>
              </ul>
            </td>
            <td>
              {{n.napomena_javna}}
            </td>
            <td class="napomena2" style="color: red">
              <b>{{n.napomena_privatna}}</b>
            </td>
            <td style="white-space: nowrap !important;">
              <button class="btn btn-primary" ui-sref="app.nalogEdit({id: n.id})">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" ng-click="delete(n.id)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
