<div class="loading">
  <div class="load">Loading...</div>
</div>
<div class="animated fadeInRight">
  <div class="ibox-title">
    <h1>Kreiranje naloga</h1>
  </div>
  <div class="ibox-content nalog">
    <form ng-submit="dodajNalog(nalogForma.$valid)" novalidate name="nalogForma"
          class="form-horizontal ng-pristine ng-valid myForm">
      <div class="row">
        <div id="proizvod" class="form-group col-md-6"
             ng-class="{ 'errorForm' : nalogForma.proizvod.$invalid && (!nalogForma.proizvod.$pristine || nalogForma.$submitted)}">
          <label>Proizvod</label>
          <!--<select name="" ng-model="nalog.proizvod">-->
          <!--<option value="">-&#45;&#45; Proizvod -&#45;&#45;</option>-->
          <!--<option ng-repeat="p in proizvodi" label="{{p.naziv_proizvoda}}" value="{{p}}">-->
          <!--{{p.naziv_proizvoda}}-->
          <!--</option>-->
          <!--</select>-->

          <select ui-select2="proizvodi" ng-model="nalog.proizvod" name="materijal" required="" id="pro">
             <option ng-repeat="p in proizvodi" value="{{p}}">{{p.naziv_proizvoda}}</option>
          </select>

         <!--  <input list="proizvodi"
                 placeholder="Proizvodi"
                 name="proizvod"
                 required
                 onmousedown="value = '';"
                 onmouseup="value = '';"
                 class="form-control proizvodi" id="izabraniProizvod"
                 ng-model="nalog.proizvod"/>
          <datalist id="proizvodi">
            <option ng-repeat="p in proizvodi" data-id="{{p}}" value="{{p.naziv_proizvoda}}">
          </datalist> -->
          <p ng-if="nalogForma.materijal.$error.required && (!nalogForma.materijal.$pristine || nalogForma.$submitted)">
            Molimo izaberite proizvod.</p>
        </div>
        <div class="form-group col-md-6"
             ng-class="{ 'errorForm' : nalogForma.kom.$invalid && (!nalogForma.kom.$pristine || nalogForma.$submitted)}">
          <label>Broj Komada</label>
          <input type="number" name="kom" required ng-model="nalog.kolicina" placeholder="Broj komada">
          <p ng-if="nalogForma.kom.$error.required && (!nalogForma.kom.$pristine || nalogForma.$submitted)">
            Molimo unesite broj komada.</p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6"
             ng-class="{ 'errorForm' : nalogForma.kupci.$invalid && (!nalogForma.kupci.$pristine || nalogForma.$submitted)}">
          <label>Kupac</label>
          <!--<select name="" ng-model="nalog.kupac">-->
          <!--<option value="">-&#45;&#45; Kupac -&#45;&#45;</option>-->
          <!--<option ng-repeat="k in kupci | filter: search" value="{{k.id}}">{{k.ime}}</option>-->
          <!--</select>-->
          <!--onmouseover="focus();old = value;"-->
          <select ui-select2="kupci" ng-model="nalog.kupac" name="kupci" required="" id="kup" >
            <option ng-repeat="k in kupci" value="{{k.id}}">{{k.ime}}</option>
          </select>
          <!-- <input list="kupci"
                 name="kupci"
                 placeholder="Kupci"
                 onmousedown="value = '';"
                 onmouseup="value = '';"
                 required
                 class="form-control kupci" id="izabraniKupac"
                 ng-model="nalog.kupac"/>
          <datalist id="kupci">
            <option ng-repeat="k in kupci" data-id="{{k.id}}" value="{{k.ime}}">
          </datalist> -->
          <p ng-if="nalogForma.kupci.$error.required && (!nalogForma.kupci.$pristine || nalogForma.$submitted)">
            Molimo izaberite kupca.</p>
        </div>
        <div class="form-group col-xs-6">
          <label>Mesto isporuke</label>
          <select name="" ng-model="adresaIsporuke">
            <option value="">-- Mesto isporuke --</option>
            <option ng-repeat="mi in mestoIsporuke.mesto_isporuke" value="{{mi}}"
                    ng-selected="mestoIsporuke.mesto_isporuke">{{mi.adresa}}, {{mi.mesto}}
            </option>
          </select>
        </div>
      </div>
      <div>
        <div ng-if="delovi" style="border: 2px solid black;padding: 20px;margin-bottom: 30px;margin-top: 30px;">
          <h2 style="margin-bottom: 20px">Delovi proizvoda</h2>
          <div ng-repeat="d in deo" ng-if="d.part_naziv != ''" style="margin-bottom: 10px;">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-3">
                <label>{{d.part_naziv}}</label>
                <div class="input-group" style="width: 100%">
                  <input tabindex="-1" readonly ng-model="nalog.parts" placeholder="{{d.part_naziv}}"
                         value="{{d.part_id}}" type="text"
                         class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <label>Materijal</label>
                <div class="input-group" style="width: 100%"
                     ng-class="{ 'errorForm' : nalogForma.materijali.$invalid && (!nalogForma.materijali.$pristine || nalogForma.$submitted)}">
                  <!--<select name="materijali" ng-model="d.material_id" required>-->
                  <!--<option value="">-&#45;&#45; Materijal -&#45;&#45;</option>-->
                  <!--<option ng-repeat="m in materials" value="{{m}}">{{m.naziv_materijala}}</option>-->
                  <!--</select>-->

                  <p style="margin-bottom: 3px;">Izabrani materijal - {{d.material}}</p>
                  <select ui-select2="materijali" ng-model="d.material" class="mat" id="mat{{$index}}" ng-focus="test()">
                    <option ng-repeat="m in materials" data-id="{{m}}" value="{{m.naziv_materijala}}">{{m.naziv_materijala}}</option>
                  </select>
                  <!--<input list="materijali"-->
                         <!--name="materijali"-->
                         <!--placeholder="Materijali"-->
                         <!--required-->
                         <!--class="form-control kupci"-->
                         <!--id="izabraniMaterijal"-->
                         <!--ng-model="d.material"/>-->
                  <!--<datalist id="materijali">-->
                  <!--<option ng-repeat="m in materials" data-id="{{m}}" value="{{m.naziv_materijala}}">-->
                  <!--</datalist>-->
                  <p
                    ng-if="nalogForma.materijali.$error.required && (!nalogForma.materijali.$pristine || nalogForma.$submitted)">
                    Molimo izaberite materijal.</p>
                </div>
              </div>
            </div>
            <hr>
          </div>

        </div>
      </div>
      <!--<div class="row">-->
      <!--<div class="form-group col-md-12">-->
      <!--<label>Kupac</label>-->
      <!--<select ng-model="nalog.kupac">-->
      <!--<option value="">-&#45;&#45; Kupac -&#45;&#45;</option>-->
      <!--<option ng-repeat="k in kupci" value="{{k.id}}">{{k.ime}}</option>-->
      <!--</select>-->
      <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="form-group col-md-12">
          <label>Ukrasni štep</label>
          <div class="input-group" style="width: 100%">
            <input type="text" ng-model="nalog.ukrasni_step" placeholder="Ukrasni štep">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Napomena</label>
        <textarea name="" cols="30" rows="10" ng-model="nalog.napomena_javna" placeholder="Napomena"></textarea>
      </div>
      <div class="form-group">
        <label>Napomena 2</label>
        <textarea name="" cols="30" rows="4" placeholder="Napomena 2"
                  ng-model="nalog.napomena_privatna"></textarea>
      </div>
      <div class="form-group">
        <div>
          <button class="btn btn-primary" type="submit">Kreiraj nalog</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="loading">
  <div class="load">Loading...</div>
</div>
