<div class="animated fadeInRight">
  <div>
    <div class="ibox-title">
      <h3>
        Porudzbine
      </h3>
      <!--<form class="form-horizontal ng-pristine ng-valid myForm proizvodiPretraga">-->
        <!--<div class="input-group">-->
          <!--<input type="text" class="form-control" placeholder="Pretraga web porudzbina"-->
                 <!--ng-model-options="{ debounce: 500 }" ng-model="pretraga.porudzbina">-->
          <!--<span class="input-group-btn">-->
        <!--<button type="button" class="btn btn-primary">-->
          <!--<i class="fa fa-search"></i>-->
        <!--</button>-->
      <!--</span>-->
        <!--</div>-->
      <!--</form>-->
    </div>
    <div class="ibox-content sviProizvodi">
      <div class="table-responsive">
        <table class="table table-bordered tables_ui">
          <thead>
          <tr>
            <th>R. Br.</th>
            <th>Datum</th>
            <th>Kupac</th>
            <th>Naziv GP</th>
            <th>Količina</th>
            <th>Napomena kupca</th>
            <th><i class="fa fa-cog"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="w in weborders">
            <td>{{$index+1}}</td>
            <td>{{w.created_at | date: 'dd.MM.yyyy.'}}</td>
            <td>{{w.client.ime}}</td>
            <td>{{w.item.naziv_proizvoda}}</td>
            <td>{{w.kolicina}}</td>
            <td>
              {{w.napomena_korisnika}}
            </td>
            <td style="white-space: nowrap !important;">
              <button class="btn btn-primary" ui-sref="app.porudzbina({id: w.id})">
                <i class="fa fa-eye"></i>
              </button>
              <button class="btn btn-danger" ng-click="delete(w.id)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
