<div class="ibox-content">
  <h1>Kupac: {{weborder.client.ime}}</h1>
  <h3>Datum porudzbine: {{weborder.created_at | date: 'dd.MM.yyyy.'}}</h3>
  <br><br>

  <h1>Proizvod: <b>{{weborder.item.naziv_proizvoda}}</b></h1>
  <h1>Količina: <b>{{weborder.kolicina}}</b></h1>

  <table class="table table-bordered porudzbinaTable">
    <tr>
      <th>Deo Proizvoda</th>
      <th>Materijal</th>
    </tr>
    <tr ng-repeat="part in weborder.parts">
      <td>{{part.naziv}}</td>
      <td>{{part.pivot.material}}</td>
    </tr>
  </table>

  <p style="font-size: 22px;">
    Napomena korisnika:
    <span ng-if="weborder.napomena_korisnika == null">/</span>
    <span ng-if="weborder.napomena_korisnika != null"><br><br>{{weborder.napomena_korisnika}}</span>
  </p>

  <div style="margin-top: 40px;margin-bottom: 100px;">
    <button class="btn btn-primary" ng-click="processOrder(weborder.id)">Obradi</button>
    <button class="btn btn-warning" ui-sref="app.porudzbine">Odustani</button>
    <button class="btn btn-danger" ng-click="delete(weborder.id)">Izbriši</button>
  </div>
</div>
