<div class="ibox float-e-margins animated fadeInRight">
  <div class="ibox-title">
    <h3>Lista proizvoda</h3>
    <form class="form-horizontal ng-pristine ng-valid myForm proizvodiPretraga">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Pretraga proizvoda" ng-model="search.naziv_proizvoda">
        <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
      </div>
    </form>
  </div>
  <div class="ibox-content sviProizvodi">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Naziv proizvoda</th>
          <th>Zapremina proizvoda</th>
          <th>Krojenje - vreme</th>
          <th>Šivenje - vreme</th>
          <th>Tapaciranje - vreme</th>
          <th>Priprema - vreme</th>
          <th><i class="fa fa-cog"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in items | filter: search">
          <td>{{$index+1}}</td>
          <td>{{i.naziv_proizvoda}}</td>
          <td>{{i.zapremina}}m<sup>3</sup></td>
          <td>{{i.krojenje_vreme}} min</td>
          <td>{{i.sivenje_vreme}} min</td>
          <td>{{i.tapaciranje_vreme}} min</td>
          <td>{{i.priprema_vreme}} min</td>
          <td>
            <button class="btn btn-warning" ng-click="statistic(i.id)">
              <i class="fa fa-bar-chart-o"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
