

<div class="container statistic">
  <h1 ng-if="statistika.time_data.length != 0">Proizvod statistika</h1>
  <ul class="statisticList" style="margin-bottom: 20px;">
    <li ng-if="statistika.time_data.length != 0">Proizvod: <b>{{statistika.time_data[0].naziv_proizvoda}}</b></li>
  </ul>
  <h1 ng-if="statistika.time_data.length == 0">Nije dostupna statistika za ovaj proizvod</h1>
  <table class="table table-bordered statisticTable" ng-if="statistika.time_data.length != 0">
    <tr>
      <th>br.</th>
      <th>Krojenje normirano vreme</th>
      <th>Krojenje ostvareno vreme</th>

      <th>Šivenje normirano vreme</th>
      <th>Šivenje ostvareno vreme</th>

      <th>Tapaciranje normirano vreme</th>
      <th>Tapaciranje ostvareno vreme</th>

      <th>Priprema normirano vreme</th>
      <th>Priprema ostvareno vreme</th>
    </tr>
    <tr ng-class="{'greenTr': t.green, 'redTr' : t.red}" ng-repeat="t in statistika.time_data">
      <td>{{$index + 1}}</td>
      <td>{{t.norHoursK}}h : {{t.norMinutesK}}m</td>
      <td>{{t.logHkrojenje}}h: {{t.logMkrojenje}}m: {{t.logSkrojenje}}s</td>

      <td>{{t.norHoursS}}h : {{t.norMinutesS}}m</td>
      <td>{{t.logHsivenje}}h: {{t.logMsivenje}}m: {{t.logSsivenje}}s</td>

      <td>{{t.norHoursT}}h : {{t.norMinutesT}}m</td>
      <td>{{t.logHtapaciranje}}h: {{t.logMtapaciranje}}m: {{t.logStapaciranje}}s</td>

      <td>{{t.norHoursP}}h : {{t.norMinutesP}}m</td>
      <td>{{t.logSpriprema}}h: {{t.logSpriprema}}m: {{t.logSpriprema}}s</td>

    </tr>
    <!--<tr class="redTr">-->
    <!--<td>2.</td>-->
    <!--<td>Neki nalog</td>-->
    <!--<td>3:30h</td>-->
    <!--<td>2:30h</td>-->
    <!--</tr>-->
  </table>
</div>
