<style>
  body {
    background: white;
  }

  table {
    font-size: 20px;
  }
</style>

<div class="ibox-content" style="margin-top: 100px;">
  <div class="container-fluid">
    <div class="planerDiv">
      <div class="col-md-12" ng-repeat="p in pravac | filter: search" id="{{p.id}}">
        <div class="ibox-title" ng-class="{'marginBottomEmptyShipment': p.orders.length == 0}">
          <h2 style="font-weight: bold">{{p.pravac}}</h2>
          <ul class="planBasicInfo">
            <li ng-if="p.vehicle.tip_vozila != null">
              <i class="fa fa-truck"></i>
              <p>{{p.vehicle.tip_vozila}}</p>
            </li>
            <li>
              <i class="fa fa-calendar"></i>
              <p>{{p.datum_slanja | date: 'dd.MM.yyyy.'}} {{p.dan}}</p>
            </li>
          </ul>
        </div>
        <div class="clearFloat"></div>
        <div class="table-responsive planerTable" style="height: auto !important;">
          <table class="table table-bordered noselect tables_ui">
            <tbody class="t_sortable">
            <tr>
              <th>R. Br.</th>
              <th>Status</th>
              <!--<th class="visible-md visible-xs">Redosled</th>-->
              <th>Kupac</th>
              <th>Naziv GP</th>
              <th>KOL</th>
              <th>Br. naloga</th>
              <th ng-if="!activeTri">Delovi / Mat.</th>
              <th>Napomena</th>
            </tr>

            <tr style="line-height: 1;padding-bottom: 0;width: 250px !important;"
                ng-class="{'aktivnosti': order.aktivnosti_datum != null}"
                ng-right-click="openContext(order, order.id, order.aktivnosti_datum)"
                ng-repeat="order in p.orders | orderBy: 'red_br_utovara'" value="{{order}}">

              <td ng-class="{'priprema': order.priprema_datum != null}">{{order.red_br_utovara}}.</td>
              <td>
                <ul class="statusList" style="padding: 0;list-style: none;width: 100%;text-align: center;margin: auto;">
                  <li>
                    <!--<div class="status krojenje"-->
                    <!--ng-class="{'wait': order.krojenje_state == 1, 'inProgress': order.krojenje_state == 2, 'pause' : order.krojenje_state == 3, 'done' : order.krojenje_state == 4}">-->
                    <!--<p style="display: inline-block;position: relative;top: 12px;font-weight: bold">K</p>-->
                    <!--</div>-->
                    <!--<div class="status sivenje"-->
                    <!--ng-class="{'wait': order.sivenje_state == 1, 'inProgress': order.sivenje_state == 2, 'pause' : order.sivenje_state == 3, 'done' : order.sivenje_state == 4}">-->
                    <!--<p style="display: inline-block;position: relative;top: 12px;font-weight: bold">Š</p>-->

                    <!--</div>-->
      

                     <div class="status tapaciranje"
	                       ng-class="{'wait': order.tapaciranje_state == 1, 'inProgress': order.tapaciranje_state == 2, 'pause' : order.tapaciranje_state == 3, 'done' : order.tapaciranje_state == 4}">
	                     <p style="position: relative;top: 11px;left: -18px;font-weight: bold;" ng-if="order.tapaciranje_state != 1">Preuzeto</p>
	                  </div>

                    <!--<div class="status priprema"-->
                    <!--ng-class="{'wait': order.priprema_state == 1, 'inProgress': order.priprema_state == 2, 'pause' : order.priprema_state == 3, 'done' : order.priprema_state == 4}">-->
                    <!--<p style="display: inline-block;position: relative;top: 12px;font-weight: bold">P</p>-->
                    <!--</div>-->
                  </li>
                </ul>
              </td>
              <td>{{order.client.ime}}</td>
              <td>{{order.item.naziv_proizvoda}}</td>
              <td>{{order.kolicina}}</td>
              <td>
                <!--{{order.broj_naloga}}-->
                {{order.id}}
              </td>
              <td style="text-align: left;" class="deloviTabela" ng-if="!activeTri">
                <span ng-if="order.parts.length == 0">/</span>
                <ul style="list-style: none;padding: 0;width: 420px;">
                  <li style="display: inline-block" ng-repeat="part in order.parts">
                        <span style="text-transform: uppercase">
                          <span ng-if="part.skraceni_naziv != null">{{part.skraceni_naziv}} -</span>
                          <span ng-if="part.skraceni_naziv == null">{{part.naziv}} - </span>
                        </span>
                    {{part.pivot.material}}
                    <span ng-if="!$last">,</span>&nbsp;
                  </li>
                </ul>
              </td>
              <td>
                {{order.napomena_javna}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--<button style="position:relative;top: 10px;font-size: 16px;" class="btn btn-primary"-->
        <!--ng-click="selektujeSve($index)">-->
        <!--<span ng-if="!p.allSelected"><i style="position:relative;right: 5px;" class="fa fa-check-square"-->
        <!--aria-hidden="true"></i> Selektuj sve naloge</span>-->
        <!--<span ng-if="p.allSelected"><i style="position:relative;right: 5px;" class="fa fa-square-o"-->
        <!--aria-hidden="true"></i> Odselektuj sve naloge</span>-->
        <!--</button>-->

        <div class="legendaDiv">
          <ul class="legenda">
            <li>
              <div></div>
              <p>Radni nalog</p>
            </li>
            <li>
              <div></div>
              <p>Nalog za pripremu</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
