<div class="ibox-content">
  <div class="container statistic">
    <h1>Statistika <span ng-if="empty"><b>: /</b></span></h1>
    <ul class="statisticList">
      <li>Radnik: {{statistika.user.first_name}} {{statistika.user.last_name}}</li>
      <li>Sektor: {{sek}}</li>
    </ul>
    <div class="buttonDiv">
      <button style="margin-bottom: 20px;" ng-click="dodajZadatak()">Dodaj zadatak</button>
      <div class="input-group col-md-3" style="margin-bottom: 20px;">
        <input date-range-picker class="form-control date-picker" id="datePicker" options="datePickerOptions"
               type="text" ng-model="datePicker"
               placeholder="Datum (od - do)"/>
        <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-calendar"></i>
        </button>
      </span>
      </div>
      <button ng-click="filter('0')">Danas</button>
      <button ng-click="filter('7')">Nedelju dana</button>
      <button ng-click="filter('30')">Mesec dana</button>
      <button ng-click="filter('90')">Zadnja tri meseca</button>
    </div>
    <h2 style="margin-top: 10px;margin-bottom: 10px;">
      <span ng-if="fromDay == undefined" style="font-weight: bold;margin-bottom: 20px;display: inline-block">{{statisticType}}</span>
      <span ng-if="fromDay != undefined" style="font-weight: bold;margin-bottom: 20px;display: inline-block">{{fromDay}} - {{toDay}}</span>
      <span ng-if="empty" style="display: inline-block"><b>: /</b></span>
    </h2>
    <div ng-if='!empty'>
      <h2 ng-if="startedOrder.id != undefined" style="margin-bottom: 40px;margin-top: 27px;font-weight: bold">U toku je
        rad na nalogu br. {{startedOrder.id}}, {{startedOrder.naziv_proizvoda}}</h2>
      <div class="row">
        <div class="col-md-6">
          <h3>Statistika za naloge</h3>
          <table class="table table-bordered statisticTable" style="margin-bottom: 0">
            <tr>
              <th>Broj naloga</th>
              <th>Nalog</th>
              <th>Normirano vreme</th>
              <th>Utrošeno vreme</th>
              <th>Detaljno vreme</th>
            </tr>
            <tr
              ng-class="{'orangeTr': t.status == 2 || t.startedWorkOnOrder, 'pauseTr': t.status == 3, 'greenTr' : t.status == 4}"
              ng-repeat="t in statistika.time_data">
              <td>{{t.order_id}}</td>
              <td>{{t.naziv_proizvoda}}</td>
              <td>
                {{t.norHours}}h : {{t.norMinutes}}m
              </td>
              <td>
                {{t.logH}}h : {{t.logM}}m : {{t.logS}}s
              </td>
              <td>
                <button class="btn btn-primary" ng-click="logDetails(t.order_id, statistika.user.id)">Detaljnije</button>
              </td>
            </tr>
            <!--<tr class="redTr">-->
            <!--<td>2.</td>-->
            <!--<td>Neki nalog</td>-->
            <!--<td>3:30h</td>-->
            <!--<td>2:30h</td>-->
            <!--</tr>-->
          </table>
          <div class="legendaDiv statistikaLegenda">
            <ul class="legenda">
              <li>
                <!-- <div></div>
                <p>Radni nalog</p> -->
              </li>
              <li>
                <!-- <div></div>
                <p>Nalog za pripremu</p> -->
              </li>
              <br>
              <li class="wait">
                <!--  <div></div>
                 <p>Na čekanju</p> -->
              </li>
              <li class="inProgress">
                <div></div>
                <p>U procesu izrade</p>
              </li>
              <li class="pause">
                <div style="background: #354688"></div>
                <p>Pauziran</p>
              </li>
              <li class="done">
                <div></div>
                <p>Završen</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6" ng-if="statistika.tasks.length != 0">
          <h3>Statistika za posebne zadatke</h3>
          <table class="table table-bordered statisticTable" style="margin-bottom: 0">
            <tr>
              <th>R.br.</th>
              <th>Zadatak</th>
              <th>Utrošeno vreme</th>
              <th><i class="fa fa-cog"></i></th>
            </tr>
            <tr ng-repeat="t in statistika.tasks">
              <td>{{$index+1}}.</td>
              <td>{{t.task_description}}</td>
              <td>{{t.logH}}h : {{t.logM}}m</td>
              <td>
                <button class="btn btn-primary" ng-click="editTask(t.id)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" ng-click="deleteTask(t.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            <!--<tr class="redTr">-->
            <!--<td>2.</td>-->
            <!--<td>Neki nalog</td>-->
            <!--<td>3:30h</td>-->
            <!--<td>2:30h</td>-->
            <!--</tr>-->
          </table>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6" style="text-align: center;margin-bottom: 70px;">
          <h4>Ukupno normirano vreme:</h4>
          <h3>{{ukupnoNormiranoH}}h : {{ukupnoNormiranoM}}m</h3>
        </div>
        <div class="col-md-6" style="text-align: center;margin-bottom: 70px;">
          <h4>Ukupno utrošeno vreme:</h4>
          <h3>{{utrosenoH}}h : {{utrosenoM}}m : {{utrosenoS}}s</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dodajZadatakDiv">
  <div class="content">
    <h2>Dodaj zadatak radniku</h2>
    <hr>
    <form ng-submit="dodajZadatakRadniku()">
      <div class="form-group">
        <label>Zadatak</label>
        <input type="text" placeholder="Zadatak" ng-model="customZadatak.task_description">
      </div>
      <div class="form-group">
        <label>Datum izvršenja</label>
        <input placeholder="Datum izvršenja" id="datumIzvrsenja" ng-model="datumIzvrsenja">
      </div>
      <div class="form-group">
        <label>Vreme izvršenja u minutima</label>
        <input type="text" placeholder="Vreme izvršenja u minutima" ng-model="customZadatak.task_time">
      </div>
      <button ng-if="post">Dodaj zadatak</button>
      <button ng-if="put">Ažuriraj zadatak</button>
      <a class="statBtn" style="position: relative;top: 1px;" ng-click="odustani()">Odustani</a>
    </form>
  </div>
</div>

<div class="logStatistic">
  <div class="content">
    <div class="closeDiv" ng-click="closeDiv()">
      <i class="fa fa-times"></i>
    </div>
    <table class="table table-bordered statisticTable" style="margin-bottom: 0">
      <tr>
        <th>Datum</th>
        <th>Startov timer</th>
        <th>Zaustavljen timer</th>
      </tr>
      <tr ng-repeat="v in vremena.orderTimeLogs">
        <td>{{v.created_at | date: "dd.MM.yyyy."}}</td>
        <td><b>{{v.startHour}}:{{v.start_vreme | date: "mm:ss"}}</b></td>
        <td><b>{{v.endHour}}:{{v.end_vreme  | date: "mm:ss" }}</b></td>
      </tr>
    </table>
  </div>
</div>
