<div class="animated fadeInRight">
  <div class="ibox-title">
    <h3>Vozači</h3>
  </div>
</div>
<div class="animated fadeInRight ibox-content">
  <form ng-submit="dodajVozaca()" class="form-horizontal ng-pristine ng-valid myForm">
    <div class="row">
      <div class="form-group col-xs-6">
        <label>Ime vozača</label>
        <input ng-model="vozac.ime_vozaca" type="text" placeholder="Ime vozača">
      </div>
      <div class="form-group col-xs-6">
        <label>Broj lične karte</label>
        <input ng-model="vozac.licna_karta" type="text" placeholder="Broj lične karte">
      </div>
      <div class="form-group" style="margin-top: 50px; padding-left: 15px;">
        <div>
          <button class="btn btn-primary" type="submit" ng-if="post">Dodaj vozača</button>
          <button class="btn btn-primary" type="submit" ng-if="put">Ažuriraj vozača</button>
          <button class="btn btn-primary" type="submit" ng-if="put" ng-click="cancel()">Odustani</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="ibox-content sviProizvodi animated fadeInRight">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Ime vozača</th>
        <th>Broj lične karte</th>
        <th><i class="fa fa-cog"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="v in vozaci">
        <td>{{$index+1}}</td>
        <td>{{v.ime_vozaca}}</td>
        <td>{{v.licna_karta}}</td>
        <td>
          <button class="btn btn-primary"  ng-click="edit(v.id)">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger" ng-click="delete(v.id)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

