<div class="animated fadeInRight">
    <div class="ibox-title">
        <h3>Vozila</h3>
    </div>
</div>
<div class="animated fadeInRight ibox-content">
    <form ng-submit="dodajVozilo()" class="form-horizontal ng-pristine ng-valid myForm">
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Registracija</label>
                <input ng-model="vozilo.registracija" type="text" placeholder="Registracija">
            </div>
            <div class="form-group col-xs-6">
                <label>Tip</label>
                <input ng-model="vozilo.tip_vozila" type="text" placeholder="Tip">
            </div>
            <div class="form-group col-xs-6">
                <label>Nosivost</label>
                <input ng-model="vozilo.nosivost" type="text" placeholder="Nosivost">
            </div>
            <div class="form-group col-xs-6">
                <label>Zapremina</label>
                <input type="text" ng-model="vozilo.zapremina" placeholder="Zapremina">
            </div>
            <div class="form-group" style="margin-top: 150px; padding-left: 15px;">
                <div>
                    <button class="btn btn-primary" type="submit" ng-if="post">Dodaj vozilo</button>
                    <button class="btn btn-primary" type="submit" ng-if="put">Ažuriraj vozilo</button>
                    <button class="btn btn-primary" type="submit" ng-if="put" ng-click="cancel()">Odustani</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="ibox-content sviProizvodi animated fadeInRight">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Registracija</th>
                <th>Tip</th>
                <th>Nosivost</th>
                <th>Zapremina</th>
                <th><i class="fa fa-cog"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in vehicles">
                <td>{{$index+1}}</td>
                <td>{{v.registracija}}</td>
                <td>{{v.tip_vozila}}</td>
                <td>{{v.nosivost}}kg</td>
                <td>{{v.zapremina}}m<sup>3</sup></td>
                <td>
                    <button class="btn btn-primary"  ng-click="edit(v.id)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger" ng-click="delete(v.id)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

