<div class="animated fadeInRight">
  <div class="ibox-title">
    <h3>Web korisnik</h3>
  </div>
  <div class="ibox-content">
    <form novalidate ng-submit="dodajKorisnika(korisnikForm.$valid)" class="form-horizontal ng-pristine ng-valid myForm"
          name="korisnikForm">
      <div class="row">
        <div class="form-group">
          <label>Ime</label>
          <input type="text" ng-model="korisnik.first_name" placeholder="Ime">
        </div>
        <div class="form-group">
          <label>Prezime</label>
          <input type="text" ng-model="korisnik.last_name" placeholder="Prezime">
        </div>
        <div class="form-group"
             ng-class="{ 'errorForm' : korisnikForm.email.$invalid && (!korisnikForm.email.$pristine || korisnikForm.$submitted)}">
          <label>E-mail</label>
          <input type="email" required name="email" ng-model="korisnik.email" placeholder="E-mail">
          <p ng-if="korisnikForm.email.$error.required && (!korisnikForm.email.$pristine || korisnikForm.$submitted)">
            Molimo unesite email.</p>
          <p ng-if="korisnikForm.email.$error.email && (!korisnikForm.email.$pristine || korisnikForm.$submitted)">
            E-mail nije u odgovarajucem formatu.</p>
        </div>
        <div class="form-group" ng-class="{ 'errorForm' : korisnikForm.pass.$invalid && (!korisnikForm.pass.$pristine || korisnikForm.$submitted)}">
          <label>Password</label>
          <input type="password" ng-model="korisnik.password" required name="pass" placeholder="Password">
          <p ng-if="korisnikForm.pass.$error.required && (!korisnikForm.pass.$pristine || korisnikForm.$submitted)">
            Molimo unesite šifru.
          </p>
        </div>
        <div class="form-group" ng-if="!hideClients" style="margin-bottom: 20px">
          <label>Klijent</label>
          <select name="" ng-model="korisnik.client_id">
            <option value="">-- Klijenti --</option>
            <option ng-repeat="c in clients" value="{{c.id}}">{{c.ime}}</option>
          </select>
        </div>
        <div class="form-group">
          <div>
            <button class="btn btn-primary" type="submit" ng-if="post">Dodaj korisnika</button>
            <button class="btn btn-primary" type="submit" ng-if="put">Ažuriraj korisnika</button>
            <button class="btn btn-primary" type="submit" ng-if="put" ng-click="cancel()">Odustani</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="animated fadeInRight">
  <div class="ibox-title">
    <h3>Lista korisnika</h3>
    <form class="form-horizontal ng-pristine ng-valid myForm proizvodiPretraga">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Pretraga korisnika" ng-model="search.first_name">
        <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </span>
      </div>
    </form>
  </div>
  <div class="ibox-content sviProizvodi">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Ime</th>
          <th>Prezime</th>
          <th>E-mail</th>
          <th><i class="fa fa-cog"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="u in users | filter: search">
          <td>{{$index+1}}</td>
          <td>{{u.first_name}}</td>
          <td>{{u.last_name}}</td>
          <td>{{u.email}}</td>
          <td>
            <button class="btn btn-primary" ng-click="edit(u.id)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-primary"
                    ng-click="showPass(u.qr, u.first_name, u.last_name)">
              <i style="margin-right: 2px;" class="fa fa-unlock"></i> Šifra
            </button>
            <button class="btn btn-danger" ng-click="delete(u.id)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="popUpDiv">
  <div class="closeDiv" ng-click="closePop('popUpDiv')">
    <i class="fa fa-times"></i>
  </div>

</div>

<div class="popUpDiv2">
  <div class="closeDiv" ng-click="closePop('popUpDiv2')">
    <i class="fa fa-times"></i>
  </div>
  <div class="content">
    <!--<h1>{{name}} {{surname}} šifra</h1>-->
    <h2 style="font-weight: bold;margin-top: 4px;">{{pass}}</h2>
  </div>
</div>

