<style type="text/css" media="print">
  html, body {
    position: relative;
    height: 99% !important;
    margin: 0 10px 0 10px;
  }

  * {
    font-weight: bold;
  }

  p {
    font-size: 11px;
  }

  @page {
    margin: 15px;
    padding-top: 20px;
  }

  .header {
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 13px;
    background: white;
  }

  .header h3 {
    line-height: 20px;
    font-size: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 9px;
  }

  .header:after {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    top: 60px;
    height: 5px;
    border-bottom: 2px solid black;
  }

  .content {
    padding-top: 100px;
    padding-bottom: 80px;
    height: 50vh !important;
    min-height: 50vh !important;
  }

  table {
    font-size: 11px;
    page-break-inside: auto;
    border-collapse: collapse !important;
  }

  .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: 1px solid black !important;
  }

  tr {
    page-break-inside: avoid;
  }

  .rightSum li {
    padding-bottom: 1px;
    font-size: 11px;
  }

  .rightSum li:last-child {
    padding-bottom: 0;
  }

  .podaci li {
    display: inline-block;
    padding: 3px;
  }

  .podaci li p {
    text-align: center;
  }

  .legendList li p {
    width: 155px;
    font-size: 11px;
    /*font-weight: 200 !important;*/
    margin-bottom: 3px;
    display: inline-block;
  }

  .legendList li span {
    font-weight: 700 !important;
    font-size: 11px;
  }

  .otpremnicaHead {
    text-align: center;
    margin-bottom: 35px;
    margin-top: -20px;
    font-weight: bold;
  }

  @media print {
    .footerInvoice {
      width: 100%;
      height: auto;
      background: white !important;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      text-align: center;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 10px !important;
      position: fixed;
      bottom: 16px;
    }

    .printPageButton {
      display: none;
    }

    hr {
      height: 3px;
      background: black;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    ul li {
      font-size: 12px;
    }

    .printPageButton {
      display: none;
    }
  }
</style>
<button style="margin: 30px;font-size: 20px;" class="btn btn-danger printPageButton" ui-sref="home">Vrati se na planer
</button>
<button class="btn btn-primary printPageButton" ng-click="printZaVozaca()"><i class="fa fa-print"></i> Za vozaca
</button>

<div class="regularnaFaktura">
  <div class="header">
    <h3>
      Radnja za proizvodnju nameštaja, predmeta od
      tekstila i drveta i
      trgovinu na veliko "S T A F F" <br>ul. Topličkih
      partizanskih odreda bb, Niš fax: 018-4100036
    </h3>
  </div>
  <div id="regularnaFaktura">
    <div class="content">
      <h2 class="otpremnicaHead">
        <span ng-if="!vozac">Račun otpremnica {{faktura.faktura_broj}} / 2018</span>
        <span ng-if="vozac">Otpremnica br. {{faktura.faktura_broj}} / 2018  </span>
      </h2>
      <div>
        <ul class="legendList" style="float: left;width: 50%">
          <li><p>Datum izdavanja:</p> <span>{{dIzdavanja | date: "dd.MM.yyyy."}}</span></li>
          <li><p>Datum prometa dobara:</p>
            <span ng-if="faktura.datum_prometa == null">/</span>
            <span ng-if="faktura.datum_prometa != null">{{faktura.datum_prometa  | date: "dd.MM.yyyy."}}</span>
          </li>
          <li><p>Rok plaćanja:</p> <span>{{faktura.valuta_placanja}}
            <span ng-if="faktura.valuta_placanja == 1">dan</span>
            <span ng-if="faktura.valuta_placanja != 1">dana</span>
          </span>
          </li>
          <li><p>Datum valute:</p> <span>{{zadnjiDatumValute | date: 'dd.MM.yyyy'}}</span></li>
          <li><p>Mesto izdavanja računa:</p> <span>Niš - Palilula</span></li>
          <li><p>Magacin gotovih proizvoda:</p> <span>Topličkih partizanskih odreda bb</span></li>
          <li><p>Način plaćanja:</p> <span>Virmanom</span></li>
        </ul>
        <div style="float: right;width: 300px;border: 1px solid black;padding: 0 10px;">
          <p>Podaci o kupcu:</p>
          <h3>{{faktura.kupac.ime}}</h3>
          <ul style="margin-top: 5px;">
            <li style="font-size: 11px">{{faktura.kupac.mesto}}</li>
            <li style="font-size: 11px">{{faktura.kupac.adresa}}</li>
            <li style="font-size: 11px">PIB: {{faktura.kupac.pib}}</li>
          </ul>
          <p>Mesto isporuke: {{faktura.adresa_isporuke}}, {{faktura.mesto_isporuke}}</p>
        </div>
        <div style="clear: both"></div>
        <!--<h4 style="float: right">Mesto isporuke: Jagodina</h4>-->
        <table class="table table-bordered fakturaTable" style="margin-top: 20px;">
          <tr>
            <th>Š.</th>
            <th>Artikal</th>
            <th>JM</th>
            <th>Kol.</th>
            <th>Cena JM</th>
            <th>Iznos</th>
            <th>Rabat %</th>
            <th>Poreska osnovica</th>
            <th style="font-size: 10px">PDV %</th>
            <th>Iznos <br>PDV-a</th>
            <th>Ukupna naknada</th>
          </tr>
          <tr ng-repeat="n in faktura.orders">
            <td>
              {{n.id}}
            </td>
            <td>
              {{n.item.naziv_proizvoda}}
              <p style="width: 180px;position: relative;margin: 0"></p>
            </td>
            <td>KOM</td>
            <td>{{n.kolicina | currency: '':2}}</td>
            <td>
            <span ng-if="eur">
                {{n.item.cena * faktura.srednji_kurs + ((n.item.cena * faktura.srednji_kurs) * (n.poskupljenje /100)) | currency: '':2}}
              </span>
              <span ng-if="!eur"> {{n.item.cena + (n.item.cena * (n.poskupljenje /100)) | currency: '':2}}</span>
              <span ng-if="eur"></span>
              <span ng-if="!eur"></span>
            </td>
            <td>
              <span ng-if="eur">{{n.item.cena * faktura.srednji_kurs + ((n.item.cena * faktura.srednji_kurs) * (n.poskupljenje /100)) * n.kolicina | currency:'':2}}</span>
              <span ng-if="!eur">{{n.item.cena + (n.item.cena * (n.poskupljenje /100)) * n.kolicina | currency:'':2}}</span>
              <span ng-if="eur"></span>
              <span ng-if="!eur"></span>
            </td>
            <td>
              {{n.rabat | currency: "": 2}}
              <!--<input type="number" style="width: 55px;" ng-model="n.rabat" ng-change="calculateRabatPoskupljenje()"-->
              <!--ng-model-options='{ debounce: 200 }'>-->
            </td>
            <td class="printPageButton">
              {{n.poskupljenje | currency: "":2}}
              <!--<input type="number" style="width: 55px;" ng-model="n.poskupljenje"-->
              <!--ng-change="calculateRabatPoskupljenje($index)"-->
              <!--ng-model-options='{ debounce: 200 }'>-->
            </td>
            <td>
              <span ng-if="eur">{{n.poreska_osnovica * faktura.srednji_kurs | currency: '':2}}</span>
              <span ng-if="!eur">{{n.poreska_osnovica | currency: '':2}}</span>
              <span ng-if="eur"></span>
              <span ng-if="!eur"></span>
            </td>
            <td>{{faktura.stopa_pdv | currency: '':2}}</td>
            <td>
            <span ng-if="eur">
                {{n.cenaSaPdv * faktura.srednji_kurs | currency:'':2}}
            </span>
              <span ng-if="!eur">
                {{n.cenaSaPdv  | currency:'':2}}
            </span>
              <span ng-if="eur"></span>
              <span ng-if="!eur"></span>
            </td>
            <td>
              <span ng-if="eur">{{(n.poreska_osnovica + n.cenaSaPdv) * faktura.srednji_kurs | currency:'':2}}</span>
              <span ng-if="!eur">{{n.poreska_osnovica + n.cenaSaPdv | currency:'':2}}</span>
              <span ng-if="eur"></span>
              <span ng-if="!eur"></span>
            </td>
          </tr>
        </table>
        <div style="float: left;">
          <table class="table table-bordered">
            <tr>
              <th>
                Avansna uplata:
              </th>
              <th>{{faktura.avans | currency:'':2}}</th>
            </tr>
            <tr>
              <th>
                Poreska osnovica:
              </th>
              <th>
                <span>{{faktura.avans / 1.2 | currency: "": 2}}</span>
              </th>
            </tr>
            <tr>
              <th>
                PDV:
              </th>
              <th>
                <span>{{faktura.avans -  (faktura.avans / 1.2) | currency:'':2}}</span>
              </th>
            </tr>
          </table>
          <p>Napomena o poreskom oslobođenju:
            <span ng-if="faktura.napomena_oslobodjenje != ''">{{faktura.napomena_oslobodjenje}}</span>
            <span ng-if="faktura.napomena_oslobodjenje == ''">Nema</span>
          </p>
          <p>Napomena:
            <span ng-if="faktura.napomena != ''">{{faktura.napomena}}</span>
            <span ng-if="vozac">Račun sledi</span>
            <span ng-if="faktura.napomena == '' && !vozac">Nema</span>
          </p>
          <p ng-if="!euro && !vozac" style="font-size: 9.4px;">slovima: {{slovima}} i .{{decimale | currency:"":0}}/100 dinara</p>
          <p ng-if="vozac">slovima: </p>
        </div>
        <div style="float: right;border: 1px solid black;width: 250px;height: auto;padding: 5px 10px;">
          <ul class="rightSum">
            <li>Ukupno:
              <span ng-if="eur" style="float: right">{{ukupnaCena | currency:"":2}}</span>
              <span ng-if="!eur" style="float: right">{{ukupnaCena | currency:"":2}}</span>
              <span ng-if="eur" style="float: right"></span>
              <span ng-if="!eur" style="float: right"></span>
            </li>
            <li>Rabat:
              <span style="float: right">{{ukupnoRabatCena | currency:'':2}}</span>
              <span ng-if="eur" style="float: right"></span>
              <span ng-if="!eur" style="float: right"></span>
            </li>
            <li>Poreska Osnovica:
              <span ng-if="eur" style="float: right"> {{poreskeOsnovice * faktura.srednji_kurs | currency: '':2}}</span>
              <span ng-if="!eur" style="float: right"> {{poreskeOsnovice | currency: '':2}}</span>
              <span style="float: right" ng-if="eur"></span>
              <span style="float: right" ng-if="!eur"></span>
            </li>
            <li style="border-bottom: 1px solid black">PDV {{faktura.stopa_pdv}}%
                <span ng-if="eur" style="float: right">{{ukupanIznosPDV * faktura.srednji_kurs | currency:'':2}}</span>
                <span ng-if="!eur" style="float: right">{{ukupanIznosPDV | currency:'':2}}</span>
            </li>
            <li style="border-bottom: 1px solid black">Ukupno sa PDV-om:
              <span ng-if="eur" style="float: right"> {{ukupnoZaUplatu * faktura.srednji_kurs | currency:'':2}}</span>
              <span ng-if="!eur" style="float: right"> {{ukupnoZaUplatu | currency:'':2}}</span>
              <span ng-if="eur" style="float: right"></span>
              <span ng-if="!eur" style="float: right"></span>
            </li>
            <li style="border-bottom: 1px solid black">Avansna uplata: <span style="float: right">{{faktura.avans | currency:'':2}}</span>
            </li>
            <li>
              <h4 style="font-weight: bold">Za uplatu: <span style="float: right">
                <span ng-if="eur">{{(ukupnoZaUplatu * faktura.srednji_kurs) - faktura.avans | currency:'':2}}</span>
                <span ng-if="!eur">{{ukupnoZaUplatu - faktura.avans | currency:'':2}}</span>
                <span ng-if="eur"></span>
                <span ng-if="!eur"></span>
            </span></h4></li>
          </ul>
        </div>
        <div style="clear: both"></div>
        <ul class="podaci" style="margin-top: 30px;text-align: left">
          <li>
            <p>Robu preuzeo</p>
            <div style="width: 155px;height: 50px;border-bottom: 1px solid black;"></div>
          </li>
          <li>
            <p>Robu izdao</p>
            <div style="width: 155px;height: 50px;border-bottom: 1px solid black;"></div>
          </li>
          <li>
            <p>Podaci o prevozniku</p>
            <div style="width: 155px;height: 50px;border-bottom: 1px solid black;position: relative">
              <p style="position: absolute;top: 11px;text-align: left"><b>{{faktura.izvoznaFaktura.vozac}} lk:
                {{faktura.izvoznaFaktura.br_licne}}</b></p>
              <p style="position: absolute;top: -5px;text-align: left"><b>Vozilo: {{faktura.izvoznaFaktura.reg_br}}</b>
              </p>
            </div>
          </li>
          <li>
            <p>Odgovorno lice</p>
            <div style="width: 155px;height: 50px;border-bottom: 1px solid black;"></div>
          </li>
        </ul>
        <div style="margin-top: 30px;">
          <ul>
            <li style="display: inline-block;margin-right: 10px;">
              <p style="display: inline-block">br.l.k.:</p>
              <div style="display: inline-block;height: 1px;width: 60px;border-bottom: 1px solid black"></div>
            </li>
            <li style="display: inline-block">
              <p style="display: inline-block">PU:</p>
              <div style="display: inline-block;height: 1px;width: 60px;border-bottom: 1px solid black"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footerInvoice">
    <p>
      Tekući računi: 145 - 5808 - 11 MARFIN BANKA, 105 - 901 -42 AIK BANKA
      <BR> Mat.br. 55704996, Reg.br. 0731303970730016, Šifra del.: 36140, PIB: 101861148
      <br> Iskazani rabat važi za uplate u naznačenom valutnom roku. Za neblagovremeno plaćanje zaračunavamo
      zateznu
      kamatu. Za sve
      <br> sporove nadležan je sud u Nišu. U slučaju neizvršavanja obaveza plaćanja, a dodje do promene cene
      dobavljača,
      izvršiće se
      <br> prefakturisanje robe.
    </p>
  </div>
</div>

