<style type="text/css"  media="print">
  html, body {
    position: relative;
    height: auto !important;
    margin: 0 10px 0 10px;
  }

  * {
    font-weight: bold;
  }

  p {
    font-size: 11px;
  }

  .izvoznaFak p {
    font-size: 14px;
  }
  .izvoznaFak .mp {
    color: lightgrey !important;
  }

  @page {
    margin: 15px;
    padding-top: 20px;
  }

  .header {
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 13px;
    background: white;
  }

  .header h3 {
    line-height: 20px;
    font-size: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 9px;
  }

  .header:after {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    top: 60px;
    height: 5px;
    border-bottom: 2px solid black;
  }

  .content {
    padding-top: 100px;
    padding-bottom: 80px;
    height: 50vh !important;
    min-height: 50vh !important;
  }

  table {
    font-size: 11px;
    page-break-inside: auto;
    border-collapse: collapse !important;
  }

  .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: 1px solid black !important;
  }

  tr {
    page-break-inside: avoid;
  }

  .rightSum li {
    padding-bottom: 1px;
    font-size: 11px;
  }

  .rightSum li:last-child {
    padding-bottom: 0;
  }

  .podaci li {
    display: inline-block;
    padding: 3px;
  }

  .podaci li p {
    text-align: center;
  }

  .legendList li p {
    width: 155px;
    font-size: 11px;
    font-weight: 200 !important;
    margin-bottom: -5px;
    display: inline-block;
  }

  .legendList li span {
    font-weight: 700 !important;
    font-size: 11px;
  }

  .otpremnicaHead {
    text-align: center;
    margin-bottom: 35px;
    margin-top: -20px;
    font-weight: bold;
  }

   .brutoList {
    list-style: none;
    padding: 0;
    /*margin-bottom: 40px;*/
  }

  .brutoList li {
    width: 150px;
    display: inline-block;
    padding-right: 50px;
  }

  .izvoznaFak {
    display: none;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
  }

  @media print {
    .footerInvoice {
      width: 100%;
      height: auto;
      background: white !important;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      text-align: center;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 10px !important;
      position: fixed;
      bottom: 16px;
    }

    .printPageButton {
      display: none;
    }

    hr {
      height: 3px;
      background: black;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    ul li {
      font-size: 12px;
    }

    .printPageButton {
      display: none;
    }
  }
</style>
<button style="margin: 30px;font-size: 20px;" class="btn btn-danger printPageButton" ui-sref="app.fakture">Vrati se na
  fakture
</button>
<!--<button class="btn btn-primary printPageButton" ng-click="printZaVozaca()"><i class="fa fa-print"></i> Za vozača-->
<!--</button>-->

<div class="regularna">
  <div class="regularnaFaktura">
    <div class="header">
      <h3>
        Radnja za proizvodnju nameštaja, predmeta od
        tekstila i drveta i
        trgovinu na veliko "S T A F F" <br>ul. Topličkih
        partizanskih odreda bb, Niš fax: 018-4100036
      </h3>
    </div>
    <div id="regularnaFaktura">
      <div class="content">
        <h2 class="otpremnicaHead">
          <span ng-if="!vozac">Račun otpremnica {{faktura.faktura_broj}} / 2018</span>
          <span ng-if="vozac">Otpremnica br. {{faktura.faktura_broj}} / 2018 </span>
        </h2>
        <div>
          <ul class="legendList" style="float: left;width: 50%">
            <li><p>Datum izdavanja:</p> <span>{{dIzdavanja | date: "dd.MM.yyyy."}}</span></li>
            <li><p>Datum prometa dobara:</p>
              <span ng-if="faktura.datum_prometa == null">/</span>
              <span ng-if="faktura.datum_prometa != null">{{faktura.datum_prometa  | date: "dd.MM.yyyy."}}</span>
            </li>
            <li><p>Rok plaćanja:</p> <span>{{faktura.valuta_placanja}}
            <span ng-if="faktura.valuta_placanja == 1">dan</span>
            <span ng-if="faktura.valuta_placanja != 1">dana</span>
          </span>
            </li>
            <li><p>Datum valute:</p> <span>{{zadnjiDatumValute | date: 'dd.MM.yyyy'}}</span></li>
            <li><p>Mesto izdavanja računa:</p> <span>Niš - Palilula</span></li>
            <li><p>Magacin gotovih proizvoda:</p> <span>Topličkih partizanskih odreda bb</span></li>
            <li><p>Način plaćanja:</p> <span>Virmanom</span></li>
          </ul>
          <div style="float: right;width: 300px;border: 1px solid black;padding: 0 10px;">
            <p>Podaci o kupcu:</p>
            <h3>{{faktura.orders[0].client.ime}}</h3>
            <ul style="margin-top: 5px;">
              <li style="font-size: 11px">{{faktura.orders[0].client.mesto}}</li>
              <li style="font-size: 11px">{{faktura.orders[0].client.adresa}}</li>
              <li style="font-size: 11px">PIB: {{faktura.orders[0].client.pib}}</li>
            </ul>
            <p>Mesto isporuke: {{faktura.adresa_isporuke}}, {{faktura.mesto_isporuke}}</p>
          </div>
          <div style="clear: both"></div>
          <!--<h4 style="float: right">Mesto isporuke: Jagodina</h4>-->
          <table class="table table-bordered fakturaTable" style="margin-top: 20px;">
            <tr>
              <th>Š.</th>
              <th>Artikal</th>
              <th>JM</th>
              <th>Kol.</th>
              <th>Cena JM</th>
              <th>Iznos</th>
              <th>Rabat %</th>
              <th>Poreska osnovica</th>
              <th style="font-size: 10px">PDV %</th>
              <th>Iznos <br>PDV-a</th>
              <th>Ukupna naknada</th>
            </tr>
            <tr ng-repeat="n in faktura.orders">
              <td>
                {{n.id}}
              </td>
              <td>
                {{n.item.naziv_proizvoda}}
                <p style="width: 180px;position: relative;margin: 0"></p>
              </td>
              <td>KOM</td>
              <td>{{n.kolicina | currency: '':2}}</td>
              <td>
            <span ng-if="eur">
              {{n.cena_faktura * faktura.srednji_kurs + ((n.cena_faktura * faktura.srednji_kurs) * (n.poskupljenje /100)) | currency: '':2}}
            </span>
                <span
                  ng-if="!eur">{{n.cena_faktura + ((n.cena_faktura) * (n.poskupljenje /100)) | currency: '':2}}</span>
                <span ng-if="eur"></span>
                <span ng-if="!eur"></span>
              </td>
              <td>
                <span ng-if="eur">{{n.cena_faktura * faktura.srednji_kurs + ((n.cena_faktura * faktura.srednji_kurs) * (n.poskupljenje /100)) * n.kolicina | currency:'':2}}</span>
                <span ng-if="!eur">{{n.cena_faktura + (n.cena_faktura * (n.poskupljenje /100)) * n.kolicina | currency:'':2}}</span>
                <span ng-if="eur"></span>
                <span ng-if="!eur"></span>
              </td>
              <td>
                {{n.rabat | currency: "": 2}}
                <!--<input type="number" style="width: 55px;" ng-model="n.rabat" ng-change="calculateRabatPoskupljenje()"-->
                <!--ng-model-options='{ debounce: 200 }'>-->
              </td>
              <td class="printPageButton">
                {{n.poskupljenje | currency: "":2}}
                <!--<input type="number" style="width: 55px;" ng-model="n.poskupljenje"-->
                <!--ng-change="calculateRabatPoskupljenje($index)"-->
                <!--ng-model-options='{ debounce: 200 }'>-->
              </td>
              <td>
                <span ng-if="eur">{{n.poreska_osnovica * faktura.srednji_kurs | currency: '':2}}</span>
                <span ng-if="!eur">{{n.poreska_osnovica | currency: '':2}}</span>
                <span ng-if="eur"></span>
                <span ng-if="!eur"></span>
              </td>
              <td>{{faktura.stopa_pdv | currency: '':2}}</td>
              <td>
            <span ng-if="eur">
                {{n.cenaSaPdv * faktura.srednji_kurs | currency:'':2}}
            </span>
                <span ng-if="!eur">
                {{n.cenaSaPdv  | currency:'':2}}
            </span>
                <span ng-if="eur"></span>
                <span ng-if="!eur"></span>
              </td>
              <td>
                <span ng-if="eur">{{(n.poreska_osnovica + n.cenaSaPdv) * faktura.srednji_kurs | currency:'':2}}</span>
                <span ng-if="!eur">{{n.poreska_osnovica + n.cenaSaPdv | currency:'':2}}</span>
                <span ng-if="eur"></span>
                <span ng-if="!eur"></span>
              </td>
            </tr>
          </table>
          <div style="float: left;">
            <table class="table table-bordered">
              <tr>
                <th>
                  Avansna uplata:
                </th>
                <th>{{faktura.avans | currency:'':2}}</th>
              </tr>
              <tr>
                <th>
                  Poreska osnovica:
                </th>
                <th>
                  <span>{{faktura.avans / 1.2  | currency: "": 2}}</span>
                </th>
              </tr>
              <tr>
                <th>
                  PDV:
                </th>
                <th>
                  <span>{{faktura.avans - (faktura.avans / 1.2) | currency:'':2}}</span>
                </th>
              </tr>
            </table>
            <p>Napomena o poreskom oslobođenju:
              <span ng-if="faktura.napomena_oslobodjenje != ''">{{faktura.napomena_oslobodjenje}}</span>
              <span ng-if="faktura.napomena_oslobodjenje == ''">Nema</span>
            </p>
            <p>Napomena:
              <span ng-if="faktura.napomena != ''">{{faktura.napomena}}</span>
              <span ng-if="vozac">Račun sledi</span>
              <span ng-if="faktura.napomena == ''">Nema</span>
            </p>
            <p ng-if="!euro && !vozac" style="font-size: 9.4px;">slovima: {{slovima}} i .{{decimale | currency:"":0}}/100 dinara</p>
            <p ng-if="vozac">slovima: </p>
          </div>
          <div style="float: right;border: 1px solid black;width: 250px;height: auto;padding: 5px 10px;">
            <ul class="rightSum">
              <li>Ukupno:
                <span ng-if="eur" style="float: right">{{ukupnaCena | currency:"":2}}</span>
                <span ng-if="!eur" style="float: right">{{ukupnaCena | currency:"":2}}</span>
                <span ng-if="eur" style="float: right"></span>
                <span ng-if="!eur" style="float: right"></span>
              </li>
              <li>Rabat:
                <span style="float: right">{{ukupnoRabatCena | currency:'':2}}</span>
                <span ng-if="eur" style="float: right"></span>
                <span ng-if="!eur" style="float: right"></span>
              </li>
              <li>Poreska Osnovica:
                <span ng-if="eur"
                      style="float: right"> {{poreskeOsnovice * faktura.srednji_kurs | currency: '':2}}</span>
                <span ng-if="!eur" style="float: right"> {{poreskeOsnovice | currency: '':2}}</span>
                <span style="float: right" ng-if="eur"></span>
                <span style="float: right" ng-if="!eur"></span>
              </li>
               <li style="border-bottom: 1px solid black">PDV {{faktura.stopa_pdv}}%
                <span ng-if="eur" style="float: right">{{ukupanIznosPDV * faktura.srednji_kurs | currency:'':2}}</span>
                <span ng-if="!eur" style="float: right">{{ukupanIznosPDV | currency:'':2}}</span>
              </li>
              </li>
              <li style="border-bottom: 1px solid black">Ukupno sa PDV-om:
                <span ng-if="eur" style="float: right">{{ukupnoZaUplatu * faktura.srednji_kurs | currency:'':2}}</span>
                <span ng-if="!eur" style="float: right"> {{ukupnoZaUplatu | currency:'':2}}</span>
                <span ng-if="eur" style="float: right"></span>
                <span ng-if="!eur" style="float: right"></span>
              </li>
              <li style="border-bottom: 1px solid black">Avansna uplata: <span style="float: right">{{faktura.avans | currency:'':2}}</span>
              </li>
              <li>
                <h4 style="font-weight: bold">Za uplatu: <span style="float: right">
                <span ng-if="eur">{{(ukupnoZaUplatu * faktura.srednji_kurs) - faktura.avans | currency:'':2}}</span>
                <span ng-if="!eur">{{ukupnoZaUplatu - faktura.avans | currency:'':2}}</span>
                <span ng-if="eur"></span>
                <span ng-if="!eur"></span>
            </span></h4></li>
            </ul>
          </div>
          <div style="clear: both"></div>
          <ul class="podaci" style="margin-top: 30px;text-align: left">
            <li>
              <p>Robu preuzeo</p>
              <div style="width: 155px;height: 50px;border-bottom: 1px solid black;"></div>
            </li>
            <li>
              <p>Robu izdao</p>
              <div style="width: 155px;height: 50px;border-bottom: 1px solid black;"></div>
            </li>
            <li>
              <p>Podaci o prevozniku</p>
              <div style="width: 155px;height: 50px;border-bottom: 1px solid black;position: relative">
                <p style="position: absolute;top: 11px;text-align: left"><b>{{faktura.vozac}} lk:
                  {{faktura.broj_licne}}</b></p>
                <p style="position: absolute;top: -5px;text-align: left"><b>Vozilo:
                  {{faktura.reg_broj}}</b>
                </p>
              </div>
            </li>
            <li>
              <p>Odgovorno lice</p>
              <div style="width: 155px;height: 50px;border-bottom: 1px solid black;"></div>
            </li>
          </ul>
          <div style="margin-top: 30px;">
            <ul>
              <li style="display: inline-block;margin-right: 10px;">
                <p style="display: inline-block">br.l.k.:</p>
                <div style="display: inline-block;height: 1px;width: 60px;border-bottom: 1px solid black"></div>
              </li>
              <li style="display: inline-block">
                <p style="display: inline-block">PU:</p>
                <div style="display: inline-block;height: 1px;width: 60px;border-bottom: 1px solid black"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footerInvoice">
      <p>
        Tekući računi: 145 - 5808 - 11 MARFIN BANKA, 105 - 901 -42 AIK BANKA
        <BR> Mat.br. 55704996, Reg.br. 0731303970730016, Šifra del.: 36140, PIB: 101861148
        <br> Iskazani rabat važi za uplate u naznačenom valutnom roku. Za neblagovremeno plaćanje zaračunavamo
        zateznu
        kamatu. Za sve
        <br> sporove nadležan je sud u Nišu. U slučaju neizvršavanja obaveza plaćanja, a dodje do promene cene
        dobavljača,
        izvršiće se
        <br> prefakturisanje robe.
      </p>
    </div>
  </div>
</div>
<div class="izvoznaFak" >
  <div>
    <div style="margin-bottom: 40px;"></div>
    <div
      style="float: left;width: 49%;height: auto;text-align: center;border: 2px solid black;border-radius: 10px;padding: 10px;margin-right: 5px;">
      <p style="font-size: 14px">
        <b>
          "STAFF" Proizvodnja nameštaja<br>
          TOPLIČKI PARTIZANSKI ODREDI BB <br>
          18000 NIŠ, R.SRBIJA<br>
          PIB: 101861148<br>
          ŽIRO RAČUN: RS35125120000000381614
        </b>
      </p>
    </div>
    <div
      style="float: right;width: 50%;height: 150px;max-height: 133px;min-height: 109px;text-align: center;border: 2px solid black;border-radius: 10px;padding: 10px;display: flex;
    justify-content: center;
    align-items: center;">
      <p  style="font-size: 14px">
        <b>
          {{faktura.orders[0].client.ime}}<br>
          {{faktura.orders[0].client.adresa}} <br>
          {{faktura.orders[0].client.mesto}}<br>
          {{faktura.orders[0].client.jib}}<br>
        </b>
      </p>
    </div>
    <div style="clear:both"></div>

    <h2 style="letter-spacing: 2px;float: left;font-weight: bold">Račun {{faktura.faktura_broj}} /
      {{faktura.orders[0].created_at | date: 'yyyy'}}</h2>
    <p style="float: right;margin-top: 30px;font-size: 14px;">NIŠ, {{faktura.datum_izdavanja | date: 'dd.MM.yyyy.'}} god.</p>

    <div style="clear:both"></div>

    <table class="table table-bordered fakturaTable">
      <tr>
        <th>R.br.</th>
        <th>Proizvod</th>
        <th>Jed. mere</th>
        <th>Kol.</th>
        <th>Cena <br>EUR</th>
        <th>Ukupno <br>EUR</th>
      </tr>
      <tr ng-repeat="n in faktura.orders">
        <td>
          {{$index + 1}}
        </td>
        <td>{{n.item.naziv_proizvoda}}</td>
        <td>KOM</td>
        <td>{{n.kolicina | currency: '': 2}}</td>
        <td>
          &euro;{{n.item.cena | currency:'':2}}
        </td>
        <td>
          &euro;{{n.item.cena * n.kolicina | currency: '':2}}
        </td>
      </tr>
    </table>
    <h3
      style="float: right;width: 270px;border-bottom: 2px solid black;font-weight: bold;padding-bottom: 10px;margin-bottom: 20px;">
      UKUPNO EUR: <span style="float: right">&euro;{{faktura.sum | currency: '':2}}</span></h3>

    <div style="clear:both"></div>

    <div style="float: left;">
      <p style="width: 320px;display: inline-block">Slovima: {{slovima}} EUR-a</p>
      <p style="width: 150px;display: inline-block">Paritet: {{faktura.paritet}}</p>
    </div>

    <div style="clear:both"></div>

    <ul class="brutoList">
      <li>Bruto:
        <span ng-if="faktura.izvoznaFaktura.bruto != ''">{{faktura.bruto}} kg</span>
        <span ng-if="faktura.izvoznaFaktura.bruto == ''">/</span></li>
      <li>Neto:
        <span ng-if="faktura.izvoznaFaktura.neto != ''">{{faktura.neto}} kg</span>
        <span ng-if="faktura.izvoznaFaktura.neto == ''">/</span></span></li>
      <li>Koleta:
        <span ng-if="faktura.izvoznaFaktura.koleta != ''">{{faktura.koleta}}</span>
        <span ng-if="faktura.izvoznaFaktura.koleta == ''">/</span>
      </li>
    </ul>
    <ul class="brutoList">
      <li style="width: 220px">Kamion reg.br.: {{faktura.reg_broj}}</li>
      <li style="width: 350px;">Vozač: {{faktura.vozac}} LK: {{faktura.broj_licne}}</li>
    </ul>
    <p>Kontrolnik: {{faktura.faktura_broj}} / {{faktura.orders[0].created_at | date: 'yyyy'}}</p>
    <p>
      Napomena:
      <span ng-if="faktura.napomena != ''">{{faktura.napomena}}</span>
      <span ng-if="faktura.napomena == ''">/</span>
    </p>
    <hr style="width: 50%;margin: auto;">

    <div style="clear:both"></div>

    <p style="float: left;    margin-top: 30px;">NIŠ, {{faktura.orders[0].created_at | date: 'dd.MM.yyyy.'}} god.</p>
    <div style="float: right;width: auto;margin-top: 25px;">
      <div style="border: 1px solid black;float:left;border-radius: 50%;display: inline-block;padding: 5px;position: relative;left: 35px;color: lightgrey"><span class="mp">MP</span></div>
      <div
        style="float: right;width: 240px;border-bottom: 1px solid black; height: 1px;position: relative;top: 25px;"></div>
      <small style="text-align: center;position: relative;top: 30px;left: 155px; font-size: 10px;">Dejan Marković <br>
        <span>(Ovlašćeno lice)</span>
      </small>
    </div>

    <div style="clear:both;margin-bottom: 30px;"></div>

    <p>Napomena o poreskom oslobođenju: <br>
      <span ng-if="faktura.napomena_oslobodjenje != ''">{{faktura.napomena_oslobodjenje}}</span>
      <span ng-if="faktura.napomena_oslobodjenje == ''">/</span>
    </p>

    <p>
      NAČIN PLAĆANJA: VIRMANOM 5(PET) DANA OD DATUMA ISPORUKE <BR>
      PLAĆANJE IZVRŠITI PO SLEDEĆIM INSTRUKCIJAMA:
    </p>

    <ul style="list-style: none">
      <li style="float: left">
        56A: Intermediary bank:<br>
        Deutsche bank AG<br>
        SWIFT code DEUTDEFF
      </li>
      <li style="float: right">
        57A: Account with institution:<br>
        Piraeus bank AD Beograd<br>
        SWIFT code PIRBRSBG
      </li>
    </ul>
    <div style="clear:both;"></div>
    <p style="text-align: center">
      59: Beneficiary customer:<br>
      Name: STAFF DEJAN MARKOVIC PREDUZETNIK<br>
      Address: TOPLIČKI PART. ODRED BB, NIS (PALILULA)<br>
      IBAN: RS 35125120000000381614
    </p>

    <p style="float: left;    margin-top: 30px;">NIŠ, {{faktura.datum_izdavanja | date: 'dd.MM.yyyy.'}} god.</p>

    <div style="float: right;width: auto;margin-top: 35px;">
      <div style="border: 1px solid black;float:left;border-radius: 50%;display: inline-block;padding: 5px;position: relative;left: 45px;color: lightgrey;    margin-top: -20px;"><span class="mp">MP</span></div>
      <span style="position:relative;left: 160px;top: -25px">Overava: Staff</span>
      <div
        style="float: right;width: 240px;border-bottom: 1px solid black; height: 1px;position: relative;top: 25px;"></div>
      <p style="text-align: center;position: relative;top: 15px;left: 135px; font-size: 12px;width: 213px;">Dejan
        Marković</p>
    </div>
  </div>
</div>
