<style>
  html, body {
    position: relative;
    height: auto !important;
    margin: 0 30px 0 30px;
  }

  .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: 1px solid black !important;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  .print {
    page-break-after: auto !important;
  }

  @page {
    margin: 15px;
    padding-top: 20px;
  }

  @media print {
    /*html, body {*/
    /*border: 1px solid white;*/
    /*height: 99%;*/
    /*page-break-after: avoid;*/
    /*page-break-before: avoid;*/
    /*}*/

    /*th, td {*/
    /*padding: 3px !important;*/
    /*}*/
    .printPageButton {
      display: none;
    }
  }

  * {
    font-weight: bold;
  }

  p {
    font-size: 14px;
  }

  .mp {
    color: lightgrey !important;
  }

  .footer {
    display: none;
  }

  .brutoList {
    list-style: none;
    padding: 0;
    /*margin-bottom: 40px;*/
  }

  .brutoList li {
    width: 150px;
    display: inline-block;
    padding-right: 50px;
  }
</style>
<button style="margin: 30px;font-size: 20px;" class="btn btn-danger printPageButton" ui-sref="home">
  Vrati se na planer
</button>
<div>
  <div style="margin-bottom: 40px;"></div>
  <div
    style="float: left;width: 49%;height: auto;text-align: center;border: 2px solid black;border-radius: 10px;padding: 10px;margin-right: 5px;">
    <p>
      <b>
        "STAFF" Proizvodnja nameštaja<br>
        TOPLIČKI PARTIZANSKI ODREDI BB <br>
        18000 NIŠ, R.SRBIJA<br>
        PIB: 101861148<br>
        ŽIRO RAČUN: RS35125120000000381614
      </b>
    </p>
  </div>
  <div
    style="float: right;width: 50%;height: 124px;max-height: 124px;min-height: 124px;text-align: center;border: 2px solid black;border-radius: 10px;padding: 10px;display: flex;
    justify-content: center;
    align-items: center;">
    <p>
      <b>
        {{faktura.orders[0].client.ime}}<br>
        {{faktura.orders[0].client.adresa}} <br>
        {{faktura.orders[0].client.mesto}}<br>
        {{faktura.orders[0].client.jib}}<br>
      </b>
    </p>
  </div>
  <div style="clear:both"></div>

  <h2 style="letter-spacing: 2px;float: left;font-weight: bold">Račun {{faktura.faktura_broj}} /
    {{faktura.orders[0].created_at | date: 'yyyy'}}</h2>
  <p style="float: right;margin-top: 30px;">NIŠ, {{faktura.datum_izdavanja | date: 'dd.MM.yyyy.'}} god.</p>

  <div style="clear:both"></div>

  <table class="table table-bordered fakturaTable">
    <tr>
      <th>R.br.</th>
      <th>Proizvod</th>
      <th>Jed. mere</th>
      <th>Kol.</th>
      <th>Cena <br>EUR</th>
      <th>Ukupno <br>EUR</th>
    </tr>
    <tr ng-repeat="n in faktura.orders">
      <td>
        {{$index + 1}}
      </td>
      <td>{{n.item.naziv_proizvoda}}</td>
      <td>KOM</td>
      <td>{{n.kolicina | currency: '': 2}}</td>
      <td>
         &euro;{{n.item.cena | currency:'':2}}
      </td>
      <td>
         &euro;{{n.item.cena * n.kolicina | currency: '':2}}
      </td>
    </tr>
  </table>
  <h3
    style="float: right;width: 250px;border-bottom: 2px solid black;font-weight: bold;padding-bottom: 10px;margin-bottom: 20px;">
    UKUPNO EUR: <span style="float: right">&euro;{{ukupnaCena | currency: '':2}}</span></h3>

  <div style="clear:both"></div>

  <div style="float: left;">
    <p style="width: 280px;display: inline-block">Slovima: {{slovima}} EUR-a</p>
    <p style="width: 150px;display: inline-block">Paritet: {{faktura.izvoznaFaktura.paritet}}</p>
  </div>

  <div style="clear:both"></div>

  <ul class="brutoList">
    <li>Bruto:
      <span ng-if="faktura.izvoznaFaktura.bruto != ''">{{faktura.izvoznaFaktura.bruto}} kg</span>
      <span ng-if="faktura.izvoznaFaktura.bruto == ''">/</span></li>
    <li>Neto:
      <span ng-if="faktura.izvoznaFaktura.neto != ''">{{faktura.izvoznaFaktura.neto}} kg</span>
      <span ng-if="faktura.izvoznaFaktura.neto == ''">/</span></span></li>
    <li>Koleta:
      <span ng-if="faktura.izvoznaFaktura.koleta != ''">{{faktura.izvoznaFaktura.koleta}}</span>
      <span ng-if="faktura.izvoznaFaktura.koleta == ''">/</span>
    </li>
  </ul>
  <ul class="brutoList">
    <li style="width: 220px">Kamion reg.br.: {{faktura.izvoznaFaktura.reg_br}}</li>
    <li style="width: 350px;">Vozač: {{faktura.izvoznaFaktura.vozac}} LK: {{faktura.izvoznaFaktura.br_licne}}</li>
  </ul>
  <p>Kontrolnik: {{faktura.faktura_broj}} / {{faktura.orders[0].created_at | date: 'yyyy'}}</p>
  <p>
    Napomena:
    <span ng-if="faktura.napomena != ''">{{faktura.napomena}}</span>
    <span ng-if="faktura.napomena == ''">/</span>
  </p>
  <hr style="margin: auto;width: 50%">

  <div style="clear:both"></div>

     <p style="float: left;    margin-top: 30px;">NIŠ, {{faktura.orders[0].created_at | date: 'dd.MM.yyyy.'}} god.</p>
    <div style="float: right;width: auto;margin-top: 25px;">
      <div style="border: 1px solid black;float:left;border-radius: 50%;display: inline-block;padding: 5px;position: relative;left: 35px;color: lightgrey"><span class="mp">MP</span></div>
      <div
        style="float: right;width: 240px;border-bottom: 1px solid black; height: 1px;position: relative;top: 25px;"></div>
      <small style="text-align: center;position: relative;top: 30px;left: 155px; font-size: 10px;">Dejan Marković <br>
        <span>(Ovlašćeno lice)</span>
      </small>
    </div>

  <div style="clear:both;margin-bottom: 30px;"></div>

  <p>Napomena o poreskom oslobođenju: <br>
    <span ng-if="faktura.napomena_oslobodjenje != ''">{{faktura.napomena_oslobodjenje}}</span>
    <span ng-if="faktura.napomena_oslobodjenje == ''">/</span>
  </p>

  <p>
    NAČIN PLAĆANJA: VIRMANOM 5(PET) DANA OD DATUMA ISPORUKE <BR>
    PLAĆANJE IZVRŠITI PO SLEDEĆIM INSTRUKCIJAMA:
  </p>

  <ul style="list-style: none">
    <li style="float: left">
      56A: Intermediary bank:<br>
      Deutsche bank AG<br>
      SWIFT code DEUTDEFF
    </li>
    <li style="float: right">
      57A: Account with institution:<br>
      Piraeus bank AD Beograd<br>
      SWIFT code PIRBRSBG
    </li>
  </ul>
  <div style="clear:both;"></div>
  <p style="text-align: center">
    59: Beneficiary customer:<br>
    Name: STAFF DEJAN MARKOVIC PREDUZETNIK<br>
    Address: TOPLIČKI PART. ODRED BB, NIS (PALILULA)<br>
    IBAN: RS 35125120000000381614
  </p>

  <p style="float: left; margin-top: 30px">NIŠ, {{faktura.datum_izdavanja | date: 'dd.MM.yyyy.'}} god.</p>

  <div style="float: right;width: auto;margin-top: 35px;">
      <div style="border: 1px solid black;float:left;border-radius: 50%;display: inline-block;padding: 5px;position: relative;left: 45px;color: lightgrey;    margin-top: -20px;"><span class="mp">MP</span></div>
      <span style="position:relative;left: 160px;top: -25px">Overava: Staff</span>
      <div
        style="float: right;width: 240px;border-bottom: 1px solid black; height: 1px;position: relative;top: 25px;"></div>
      <p style="text-align: center;position: relative;top: 15px;left: 135px; font-size: 12px;width: 213px;">Dejan
        Marković</p>
    </div>
</div>

<div class="print"></div>
