<style>
    @media print
    {
        html, body {
            border: 1px solid white;
            height: 99%;
            page-break-after: avoid;
            page-break-before: avoid;
        }
        .printPageButton {
            display: none;
        }
    }
</style>

<button style="margin: 30px;font-size: 20px;" class="btn btn-danger printPageButton" ui-sref="home">Vrati se na planer</button>
<div style="margin-top: 50px;">
    <img src="img/logo.png" style="width: 150px;" alt="">
</div>
<hr>
<div>
    <h1><b>Broj Naloga:</b> <br><br>{{nalog.broj_naloga}}</h1>
    <br><br>
    <h1><b>Naziv proizvoda:</b> <br><br>{{nalog.item.naziv_proizvoda}}</h1>
    <br><br>
    <h1><b>Adresa isporuke:</b> <br><br>{{nalog.adresa_isporuke}}</h1>
    <br><br>
    <h1><b>Mesto isporuke:</b> <br><br> {{nalog.mesto_isporuke}}</h1>
</div>

<script>
    window.scrollTo(0,0);
</script>