<style>

  @page {
    margin: 5px;
  }

  @media print
  {
    html, body {
      border: 1px solid white;
      height: 99%;
      page-break-after: avoid;
      page-break-before: avoid;
    }
    .page-break  { display:block; page-break-before:always; }
    .printPageButton {
      display: none;
    }
    th, td {
      padding: 3px !important;
    }
  }
</style>

<button style="margin: 30px;font-size: 20px;" class="btn btn-danger printPageButton" ui-sref="home">Vrati se na planer</button>

<!--<h3>Radni nalog krojenje/štepanje-tapetarija: {{nalog.broj_naloga}}/ {{nalog.aktivnosti_datum | date:"dd.MM.yyyy."}}</h3>-->
<h3>Radni nalog krojenje/štepanje-tapetarija: {{nalog.id}}/ {{nalog.aktivnosti_datum | date:"dd.MM.yyyy."}}</h3>
<br><br>
<angular-barcode style="float:right" ng-model="nalog.id" bc-options="bc" bc-class="barcode" bc-type="svg"></angular-barcode>
<h3>{{nalog.item.naziv_proizvoda}}</h3>
<br>
<ul>
    <li>Datum: {{nalog.created_at | date:"dd.MM.yyyy."}}</li>
    <li>Datum štampanja: {{nalog.aktivnosti_datum | date:"dd.MM.yyyy."}}</li>
    <li>Kupac: {{nalog.client.ime}}</li>
</ul>
<br><br>
<table class="table table-bordered">
    <tr>
        <th>Naziv proizvoda</th>
        <th>Kom.</th>
    </tr>
    <tr>
        <td>{{nalog.item.naziv_proizvoda}}</td>
        <td>{{nalog.kolicina}}</td>
    </tr>
</table>
<br>
<table class="table table-bordered" style="font-size: 22px;">
    <tr>
        <th>Napomena</th>
        <th>
            <span ng-if="nalog.napomena_javna == null">/</span>
            <span ng-if="nalog.napomena_javna != null">{{nalog.napomena_javna}}</span>
        </th>
    </tr>
</table>
<br>
<h3>Ukrasni štep: {{nalog.ukrasni_step}}</h3>
<br>
<table class="table table-bordered" style="width: 100%">
    <tr>
        <th>Deo proizvoda</th>
        <th>Materijal</th>
    </tr>
    <tr ng-repeat="np in nalog.parts">
        <td>{{np.naziv}}</td>
        <td>{{np.pivot.material}}</td>
    </tr>
</table>
<br><br>
<h3>Aktivnosti - Krojenje/Šivenje, Tapaciranje</h3>

<ul>
    <li>Krojenje - {{nalog.item.krojenje_vreme}} minuta</li>
    <li>Šivenje - {{nalog.item.sivenje_vreme}} minuta</li>
    <li>Tapaciranje - {{nalog.item.tapaciranje_vreme}} minuta</li>
</ul>

<!--<div class="page-break"></div>-->

