<style>
  /*body {*/


  /*height: 842px;*/


  /*width: 595px;*/


  /*!* to centre page on screen*!*/


  /*margin-left: auto;*/


  /*margin-right: auto;*/


  /*}*/

  @page {
    margin: 15px;
  }

  @media print {
    html,
    body {
      border: 1px solid white;
      height: 99%;
      page-break-after: avoid;
      page-break-before: avoid;
    }

    .printPageButton {
      display: none;
    }

    table {
      /*white-space: nowrap !important;*/
      font-size: 11px;
    }

    th,
    td {
      padding: 1px 3px !important;
    }
  }



  table tr td {
    text-align: left !important;
  }
</style>
<button style="margin: 30px;font-size: 20px;" class="btn btn-danger printPageButton" ui-sref="home">Vrati se na planer
</button>
<!--<div style="margin-top: 50px;">-->
<!--<img src="img/logo.png" style="width: 150px;" alt="">-->
<!--</div>-->
<!--<hr>-->
<h5 style="font-weight: bold">{{shipment.datum_slanja | date: "dd.MM."}} {{dan}} - {{shipment.pravac}}</h5>
<br>
<div class="table-responsive">
  <table id="table1" class="table table-bordered">
    <tr>
      <th>Kupac</th>
      <th>Naziv GP</th>
      <th>KOL</th>
      <th>MAT</th>
      <th>Napomena</th>
      <th>Br. naloga</th>
    </tr>
    <tr height="10" ng-repeat="order in shipment.orders | orderBy: 'red_br_utovara'">
      <td>{{order.client.ime}}</td>
      <td style="white-space: nowrap !important;">{{order.item.naziv_proizvoda}}</td>
      <td>{{order.kolicina}}</td>
      <td style="line-height: 1;padding-bottom: 0;">
        <span ng-if="order.parts.length == 0">/</span>
        <ul style="list-style: none;padding: 0">
          <li style="display: inline-table;" ng-repeat="part in order.parts">
                        <span style="text-transform: uppercase">
              <span ng-if="part.skraceni_naziv != null">{{part.skraceni_naziv}} -</span>
                        <span ng-if="part.skraceni_naziv == null">{{part.naziv}} -</span>
                        </span>
            {{part.pivot.material}}
            <span ng-if="!$last">,</span>&nbsp;
          </li>
        </ul>
      </td>
      <td>
        {{order.napomena_javna}}
      </td>
      <td>{{order.id}}</td>
    </tr>
  </table>
</div>
<script>
  window.scrollTo(0, 0);
</script>
