<div class="ibox-content" style="height: 100vh">
  <div id="login" class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <h1 class="logo-name">STAFF</h1>
      </div>
      <!--<h3>Welcome to IN+</h3>-->
      <!--<p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.-->
      <!--</p>-->
      <p>Login in. To see it in action.</p>
      <form class="m-t" autocomplete="off" novalidate name="form" ng-submit="login()" role="form">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Username" ng-model="data.email" required="">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="data.password" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
      </form>
    </div>
  </div>
</div>
