<nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed;">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <h2 class="profile-element">Staff Namestaj</h2>
        <!--<div class="profile-element" uib-dropdown>-->
        <!--<img alt="image" class="img-circle" src="img/profile_small.jpg"/>-->
        <!--<a uib-dropdown-toggle href>-->
        <!--<span class="clear">-->
        <!--<span class="block m-t-xs">-->
        <!--<strong class="font-bold">David Williams</strong>-->
        <!--</span>-->
        <!--<span class="text-muted text-xs block">Art Director <b class="caret"></b></span>-->
        <!--</span>-->
        <!--</a>-->
        <!--<ul uib-dropdown-menu class="animated fadeInRight m-t-xs">-->
        <!--<li><a ui-sref="app.profile">Profile</a></li>-->
        <!--<li><a ui-sref="app.contacts">Contacts</a></li>-->
        <!--<li><a ui-sref="mailbox.inbox">Mailbox</a></li>-->
        <!--<li class="divider"></li>-->
        <!--<li><a ui-sref="login">Logout</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="logo-element">
          Staff
        </div>
      </li>
      <!--<li ui-sref-active="active">-->
      <!--<a ui-sref="app.dodajProizvod"><i class="fa fa-cube"></i> <span class="nav-label">Proizvodi</span></a>-->
      <!--</li>-->

      <!--<li ui-sref-active="active">-->
      <!--<a ui-sref="home"><i class="fa fa-truck"></i><span class="nav-label">Planer</span></a>-->
      <!--</li>-->
      <li ui-sref-active="active">
        <a><i class="fa fa-truck"></i> <span class="nav-label">Planer</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('charts')}">
          <li ui-sref-active="active"><a ui-sref="home">Pregled planera</a></li>
          <li ui-sref-active="active"><a ui-sref="app.dodajPravac">Kreiraj pravac</a></li>
          <li ui-sref-active="active"><a ui-sref="app.arhiviraniPravci">Arhivirani pravci</a></li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a href="#"><i class="fa fa-cube"></i> <span class="nav-label">Proizvodi</span><span
          class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" style="">
          <li ui-sref-active="active"><a ui-sref="app.dodajProizvod">Dodaj proizvod</a></li>
          <li ui-sref-active="active"><a ui-sref="app.dodajKategoriju">Dodaj kategoriju</a></li>
          <li ui-sref-active="active"><a ui-sref="app.proizvodi-lista">Proizvodi statistika</a></li>
          <!--<li><a ui-sref="app.dodajDeo"><span class="nav-label">Dodaj deo proizvoda</span></a></li>-->
          <li ui-sref-active="active"><a ui-sref="app.materijal">Dodaj materijal</a></li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a href="#"><i class="fa fa-building-o"></i> <span class="nav-label">Kupci</span><span
          class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" style="">
          <li ui-sref-active="active">
            <a ui-sref="app.kupci"><span class="nav-label">Svi kupci</span></a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.webuser"><span class="nav-label">Dodaj web korisnika</span></a>
          </li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.nalog"><i class="fa fa-edit"></i> <span class="nav-label">Nalog</span></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.nalozi"><i class="fa fa-list-alt"></i> <span class="nav-label">Nalozi</span></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.vozila"><i class="fa fa-car"></i> <span class="nav-label">Vozila</span></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.vozaci"><i class="fa fa-male"></i> <span class="nav-label">Vozači</span></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.korisnici"><i class="fa fa-users"></i> <span class="nav-label">Korisnici</span></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.fakture"><i class="fa fa-dollar"></i> <span class="nav-label">Fakture</span></a>
      </li>
      <li ui-sref-active="active" ng-controller="badgeController">
        <a ui-sref="app.porudzbine"><i class="fa fa-truck"></i> <span class="nav-label">Porudžbine <span
          class="myBadge">{{badge.unprocessed}}</span></span></a>
      </li>
    </ul>
  </div>
</nav>
