<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <span minimaliza-sidebar></span>
      <!--  <form role="search" class="navbar-form-custom" method="post" action="views/search_results.html">
           <div class="form-group">
               <input type="text" placeholder="{{ 'SEARCH' | translate }}" class="form-control" name="top-search" id="top-search">
           </div>
       </form> -->
    </div>
    <button style="
      float: right;
      margin-right: 20px;
      margin-top: 10px;
      font-size: 16px;" class="btn btn-primary" ui-sref="home">
      <i class="fa fa-home" style="margin-right: 10px;"></i>Planer
    </button>
    <!--<button style="-->
      <!--float: right;-->
      <!--margin-right: 20px;-->
      <!--margin-top: 10px;-->
      <!--font-size: 16px;" class="btn btn-danger" ui-sref="home">-->
      <!--<i class="fa fa-power-off"></i>-->
    <!--</button>-->
    <!--<ul class="nav navbar-top-links navbar-right">-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--<li uib-dropdown>-->
    <!--<a class="count-info" href uib-dropdown-toggle>-->
    <!--Language-->
    <!--</a>-->
    <!--<ul uib-dropdown-menu class="animated fadeInRight m-t-xs" ng-controller="translateCtrl">-->
    <!--<li><a ng-click="changeLanguage('en')">English</a></li>-->
    <!--<li><a ng-click="changeLanguage('es')">Spanish</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li uib-dropdown>-->
    <!--<a class="count-info" href uib-dropdown-toggle>-->
    <!--<i class="fa fa-envelope"></i> <span class="label label-warning">16</span>-->
    <!--</a>-->
    <!--<ul class="dropdown-messages" uib-dropdown-menu>-->
    <!--<li>-->
    <!--<div class="dropdown-messages-box">-->
    <!--<a ui-sref="profile" class="pull-left">-->
    <!--<img alt="image" class="img-circle" src="img/a7.jpg">-->
    <!--</a>-->

    <!--<div>-->
    <!--<small class="pull-right">46h ago</small>-->
    <!--<strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>-->
    <!--<small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="divider"></li>-->
    <!--<li>-->
    <!--<div class="dropdown-messages-box">-->
    <!--<a ui-sref="profile" class="pull-left">-->
    <!--<img alt="image" class="img-circle" src="img/a4.jpg">-->
    <!--</a>-->

    <!--<div>-->
    <!--<small class="pull-right text-navy">5h ago</small>-->
    <!--<strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>-->
    <!--<small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="divider"></li>-->
    <!--<li>-->
    <!--<div class="dropdown-messages-box">-->
    <!--<a ui-sref="profile" class="pull-left">-->
    <!--<img alt="image" class="img-circle" src="img/profile.jpg">-->
    <!--</a>-->

    <!--<div>-->
    <!--<small class="pull-right">23h ago</small>-->
    <!--<strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>-->
    <!--<small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="divider"></li>-->
    <!--<li>-->
    <!--<div class="text-center link-block">-->
    <!--<a ui-sref="mailbox.inbox">-->
    <!--<i class="fa fa-envelope"></i> <strong>Read All Messages</strong>-->
    <!--</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li uib-dropdown>-->
    <!--<a class="count-info" href uib-dropdown-toggle>-->
    <!--<i class="fa fa-bell"></i> <span class="label label-primary">8</span>-->
    <!--</a>-->
    <!--<ul class="dropdown-alerts" uib-dropdown-menu>-->
    <!--<li>-->
    <!--<a ui-sref="inbox">-->
    <!--<div>-->
    <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
    <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="divider"></li>-->
    <!--<li>-->
    <!--<a ui-sref="profile">-->
    <!--<div>-->
    <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
    <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="divider"></li>-->
    <!--<li>-->
    <!--<a ui-sref="grid_options">-->
    <!--<div>-->
    <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
    <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="divider"></li>-->
    <!--<li>-->
    <!--<div class="text-center link-block">-->
    <!--<a ui-sref="miscellaneous.notify">-->
    <!--<strong>See All Alerts</strong>-->
    <!--<i class="fa fa-angle-right"></i>-->
    <!--</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a ui-sref="login">-->
    <!--<i class="fa fa-sign-out"></i> Log out-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a ng-click="$root.rightSidebar = !$root.rightSidebar">-->
    <!--<i class="fa fa-tasks"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
  </nav>
</div>
