<div>
    <div class="form-group">
        <label class="control-label">Šifra</label>
        <input type="password" autocomplete="off"  ng-change="textChange()" ng-model="password" id="input-name"
               placeholder="Unesite šifru da biste izbrisali proizvod" class="form-control">
    </div>
</div>